<html>
<title>DataHub DBWipes {{repo}}.{{table}}</title>
<head>
  <script src="/static/dbwipes/js/lib/tether.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
    window.enableScorpion = {{enableScorpion}};
    window.cacheExists = {{cacheExists}};
    {% if idx and idx >= 0 %}
    window.jsidx = {{idx}};
    {% endif %}


    // parameters for initial query
    window.db = "{{db}}";
    window.tablename = "{{table}}";
    window.x = "{{x}}";
    window.y = "{{y}}";
    window.login = "{{username}}"; // the actual username
    window.username = "{{repo_base}}"; // keep this here, because column_distribution still somehow uses it
    window.repo_base = "{{repo_base}}";
  </script>
  <script data-main="/static/dbwipes/js/{{js}}" src="/static/dbwipes/js/require.js"></script>

</head>


<body>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ownerModal">
        Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create DBWipes Cache?</h4>
            </div>
            <div class="modal-body">
                DBWipes needs to create its own repo for caching work on your data. if you make this repo public, public users will be able to use dbwipes with your data.
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="create-cache-button" class="btn btn-primary">Create cache and use DBWipes</button>
            </div>
        </div>
    </div>
</div>



<h4>{{title}} <small>{{subtitle}}</small>
<a class="blue bold" href="/browse/{{repo_base}}">{{repo_base}}</a> /
<a class="blue bold" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a> /
<a class="blue bold" href="/browse/{{repo_base}}/{{repo}}/{{table}}">{{table}}</a>
  {% if enableScorpion == 1 %}
  <span id="togglescorpion" class="btn btn-sm btn-primary walkthrough-btn">toggle scorpion</span>
  {% endif %}

</h4>


<div class="row">
	<div id="tasks" class="col-md-12">
	</div>
</div>


<script>

$('#create-cache-button').click(function(){
  data = { repo_base: window.repo_base, csrfmiddlewaretoken: "{{ csrf_token }}"};

  $.ajax({
  url: "/apps/dbwipes/api/create_data_cache/",
  context: document.body,
  method: "POST",
  data: data,
  }).done(function(result) {
    console.log('done');
    console.log(result);
  });
});

</script>
{% block content %}{% endblock %}

{% include 'footer.html' %}

{% include 'wherelabel.html' %}
{% include 'cstat.html' %}
{% include 'qform.html' %}
{% include 'scorpionresults.html' %}
{% include 'walkthrough.html' %}
{% include 'tuples.html' %}
{% include 'tasks.html' %}

{% block includes %}{% endblock %}

<script>
  $(function() {
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      height:140,
      modal: true,
      buttons: {
        "Go Back": function() {
          $( this ).dialog( "close" );
        },
        "Use DBWipes": function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });
</script>

{% if study == 1 %}
<script>
  (function() {
    var name = localStorage['name'];
    var stepCompleted = +(localStorage['stepCompleted']||0);
    if (!name || name == '') {
      window.location = "/study/dir/";
    }
    if ({{idx}} <= 3 && stepCompleted < {{idx}}-1) {
      window.location = '/study/dir';
    } 
  })();
</script>
{% endif %}

</body>

	<link rel="stylesheet" type="text/css" href="/static/dbwipes/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/dbwipes/css/bootstrap-slider.css"/>
	<link rel="stylesheet" type="text/css" href="/static/dbwipes/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/static/dbwipes/css/docs.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/dbwipes/css/tether.css"/>

</html>
