{% extends "layout.html" %}
{% block body-tag %}
<body class="bs-docs-home">
{% endblock %}
{% block header-tag %}
<div class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
{% endblock %}
{% block content %}
<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <p class="lead">
    <span class="logo-home center-block"></span>
    <br />
    DataHub is a (GitHub like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.</p>
  </div>
</main>

{% endblock %}