{% extends "layout.html" %}
{% block body-tag %}
<body class="bs-docs-home">
{% endblock %}

{% block header-tag %}
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
{% endblock %}

{% block push %}
{% endblock %}

{% block content %}
<main class="bs-docs-masthead" id="content" role="main">
  <div class="container">
    <p class="lead">
    <span class="logo-home center-block"></span>
    <br />
      Hosting, powerful collaboration, query, analytics, and visualization for public and private datasets.
    </p>
  </div>
</main>
<br />
<div class="container bs-docs-container">
<div class="row">
  <div class="col-md-9" role="main">
    <!-- Overview
    ================================================== -->
    <div class="bs-docs-section">
      <h1 id="overview" class="page-header">What is DataHub?</h1>

      <p class="lead">DataHub is a (GitHub-like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.</p>
      
      <p>It provides an efficient platform and easy to use tools/interfaces for:</p>
      <ul>
        <li>Publishing of your own data (hosting, sharing, collaboration)</li>
        <li>Using other’s data (querying, linking)</li>
        <li>Making sense of data (analysis, visualization)</li>
      </ul>
    </div>

    <!-- Team
    ================================================== -->
    <div class="bs-docs-section">
      <h1 id="team" class="page-header">Team</h1>
      <p>DataHub is hosted at MIT Computer Science &amp; Artificial Intelligence Lab (CSAIL) with collaborators from the University of Maryland - College Park, and the University of Illinois at Urbana-Champaign.</p>
      <ul>
        <li>      
          <a class="team-member" href="http://people.csail.mit.edu/anantb/">
            <strong>Anant Bhardwaj</strong>
          </a>
          (PhD Student, MIT)
        </li>

        <li>
          <a class="team-member" href="http://people.cs.uchicago.edu/~aelmore/">
            <strong>Aaron Elmore</strong>
          </a>
          (Postdoc, MIT)
        </li> 

        <li>
          <a class="team-member" href="http://www.mit.edu/~eugenewu/">
            <strong>Eugene Wu</strong>
          </a>
          (PhD Student, MIT)
        </li> 
        
        <li>
          <a class="team-member" href="http://db.lcs.mit.edu/madden/">
            <strong>Sam Madden</strong>
          </a>
          (Professor, MIT)
        </li>

        <li>
          <a class="team-member" href="http://people.csail.mit.edu/karger/">
            <strong>David Karger</strong>
          </a>
          (Professor, MIT)
        </li>

        <li>
          <a class="team-member" href="http://web.engr.illinois.edu/~adityagp/">
            <strong>Aditya Parameswaran</strong>
          </a>
          (Professor, UIUC)
        </li> 

        <li>
          <a class="team-member" href="http://www.cs.umd.edu/~amol/">
            <strong>Amol Deshpande</strong>
          </a>
          (Professor, UMD)
        </li> 

      </ul>
    </div>

    <!-- Reading Materials
    ================================================== -->
    <div class="bs-docs-section">
      <h1 id="papers" class="page-header">Papers &amp; Talks</h1>
      <p>Below is a list of publications and various academic talks on DataHub:</p>
      <ul>
        <li>
          <a href="http://arxiv.org/abs/1409.0798">
            DataHub: Collaborative Data Science &amp; Dataset Version Management at Scale
          </a>
          [Paper, CIDR 2015]
        </li>
        
        <li>
          <a href="http://www.gbcacm.org/seminars/evening/2014/datahub-collaborative-data-analytics-and-visualization-platform.html">
            DataHub: A Collaborative Data Analytics and Visualization Platform
          </a>
          [Talk, Greater Boston Chapter of the ACM, 2014]
        </li>
        
        <li>
          <a href="http://www.vldb.org/2013/keynotes.html">
            The DataHub: A Collaborative Data Analytics and Visualization Platform
          </a>
          [Keynote, VLDB 2013]
        </li>
      </ul>
    </div>

    <!-- Contact
    ================================================== -->
    <div class="bs-docs-section">
      <h1 id="contact" class="page-header">Contact</h1>
      <p>Please email <a href="mailto:datahub@csail.mit.edu">datahub@csail.mit.edu</a> if you have any comments or questions.</p>
    </div>

  </div>

  <div class="col-md-3">
    <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
      <ul class="nav bs-docs-sidenav">
        <li><a href="#overview">What is DataHub?</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#papers">Papers &amp; Talks</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <a class="back-to-top" href="#top">Back to top</a>
    </div>
  </div>
</div>
</div>


{% endblock %}