{% extends "table-browse-template.html" %}
{% block table-name %}
card / {{card.card_name}}
{% endblock %}
{% block apps %}
{% endblock %}

{% block tabs %}
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/browse/{{repo_base}}/{{repo}}/tables" role="tab">Tables &amp; Views</a></li>
  <li><a href="/browse/{{repo_base}}/{{repo}}/files" role="tab">Files</a></li>
  <li class="active"><a href="/browse/{{repo_base}}/{{repo}}/cards" role="tab">Cards</a></li>
</ul>
{% endblock %}


{% block panel-title %}
  <span class="lead">
    {{card.card_name}} &nbsp;
    <a class="btn btn-default btn-sm" href="/browse/{{repo_base}}/{{repo}}/cards" title="Back to All Cards"><span class="glyphicon glyphicon-arrow-left"></span></a>
    {% if card.public %}
    <span
    class="btn btn-default btn-sm modal-link modal-confirm-form-dialog"
    target-modal="#confirm-form-modal"
    target-modal-title="Make Card Private"
    target-modal-body="Make this card private to restrict access to collaborators."
    target-modal-operation="Make Private"
    target-url="{% url 'browser-card_update_public' repo_base repo card.card_name %}"
    target-modal-form-inputs='<input type="hidden" name="public" value="False" />'
    title="Change Visibility">Visibility: Public</span>
    <a href="{% url 'api:card' repo_base=repo_base repo_name=repo card_name=card.card_name format='json' %}"><span class="btn btn-default btn-sm">Public Link</span></a>
    {% else %}
    <span
    class="btn btn-default btn-sm modal-link modal-confirm-form-dialog"
    target-modal="#confirm-form-modal"
    target-modal-title="Make Card Public"
    target-modal-body="Make this card public to allow unauthenticated users to run this query and see its results."
    target-modal-operation="Make Public"
    target-url="{% url 'browser-card_update_public' repo_base repo card.card_name %}"
    target-modal-form-inputs='<input type="hidden" name="public" value="True" />'
    title="Change Visibility">Visibility: Private</span>
    {% endif %}


  </span><br />
  Query: <code class="language-sql" data-lang="sql">{{card.query}}</code><br />
{% endblock %}

{% block annotation %}
  {% if annotation %}
    <span class="text-muted">{{annotation}}</span>&nbsp; &nbsp;<span class="modal-link annotation-modal-dialog" target-modal="#annotation-modal" title="Edit Description" placeholder="{{annotation}}" url-path="/browse/{{repo_base}}/{{repo}}/card/{{card.card_name}}"><span class="glyphicon glyphicon-edit"></span></span>
  {% else %}
    <span class="text-warning"><em>No description yet</em></span>&nbsp; &nbsp;<span class="modal-link annotation-modal-dialog" target-modal="#annotation-modal" title="Add Description" url-path="/browse/{{repo_base}}/{{repo}}/card/{{card.card_name}}"><span class="glyphicon glyphicon-edit"></span></span>
  {% endif %}    
{% endblock %}

{% block table-empty-warning %}
  <p class="bg-warning">The <strong>{{table}}</strong> card is empty.</p>
{% endblock %}

