{% extends "layout.html" %}
{% block content %}
<div id="content">
  <a class="btn btn-default" role="button" href=/browse/{{repo_base}}>{{repo_base}}</a> .
  <a class="btn btn-default" role="button" href=/browse/{{repo_base}}/{{repo}}>{{repo}}</a> .
  <div class="pull-right">
  <a class="btn btn-primary pull-right" role="button" href=/browse/{{repo_base}}/{{repo}}>Back to Repository</a>
  </div>

  <hr />

  <form method="POST" action="/handle-file-upload" enctype='multipart/form-data'>
    <h3 style="padding-bottom:0.5em;">Upload Files to DataHub</h3>
    {% csrf_token %}
    <input type="hidden" name="repo_base" value="{{repo_base}}" />
    <input type="hidden" name="repo" value="{{repo}}" />
    <div id="error">
      {% for error in errors %}
        <span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
      {% endfor %}
    </div>
    <br />
    <label for="data_file">Data File</label><br />
    <input type="file" name="data_file" placeholder="Data File"> <br /> <br />
    <button class="btn btn-primary" type="submit">Upload File</button>
  </form>
  <hr />
  <h3>Files</h3>
  <div class="table-responsive">
  <table id="files" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Files</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
      <td><a class="blue link" href="/download/{{repo_base}}/{{repo}}?file={{file}}">{{file}}</a></td>
      <td><a class="download-icon" href="/download/{{repo_base}}/{{repo}}?file={{file}}" title="Download"></a> &nbsp; <a class="delete-icon" href="/delete/{{repo_base}}/{{repo}}?file={{file}}" title="Delete"></a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}





