{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
  $(document).ready(function() {
    var files = $('#files').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bFilter": true,
      "bInfo": false,
      "sWidth": "100%",
      "bJQueryUI": true,
      "aoColumns": [                 
        {"bSortable": true},
        {"bSortable": false, "sWidth": "10em"},
      ]     
    });

    $('.dataTables_filter input').attr("placeholder", "filter by keyword tokens");
  });
</script>

<div id="content">
  <a class="blue bold" href=/browse/{{repo_base}}>{{repo_base}}</a> / <a class = "blue bold" href=/browse/{{repo_base}}/{{repo}}>{{repo}}</a> /
  <hr class="light" />
  <form class="form-container" method="POST" action="/handle-file-upload" enctype='multipart/form-data'>
  <h3 style="padding-bottom:0.5em;">Upload Files to DataHub</h3>
  {% csrf_token %}
  <input type="hidden" name="repo_base" value="{{repo_base}}" />
  <input type="hidden" name="repo" value="{{repo}}" />
  <div id="error">
    {% for error in errors %}<span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
        {% endfor %}
        <br />
    </div>
  <label for="data_file">Data File</label><br />
  <input type="file" name="data_file" placeholder="Data File"> <br /> <br />
  <input class="button" type="submit" value="Upload File"/>
  </form>
  <br />
  <br />
  <div>
  <a class="button inactive" href=/browse/{{repo_base}}/{{repo}}>Back to Repository</a>
  </div>
  <br />
  <table id="files">
    <thead>
    <tr>
      <th>Files</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
      <td><a class="blue link" href="/download/{{repo_base}}/{{repo}}?file={{file}}">{{file}}</a></td>
      <td><a class="database-table-icon" href="/import/{{repo_base}}/{{repo}}?file={{file}}" title="Import to DataHub as Table"></a> &nbsp; <a class="download-icon" href="/download/{{repo_base}}/{{repo}}?file={{file}}" title="Download"></a> &nbsp; <a class="delete-icon" href="/delete/{{repo_base}}/{{repo}}?file={{file}}" title="Delete"></a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}





