{% extends "layout.html" %}
{% block content %}
<style>
body, #content {
	background-color: #FFF;
}
</style>
<div id="content">
<div id="welcome">
<pre style="color: #E9E581; background-color: #000; border: none;">
 _____        _        _    _       _     
|  __ \      | |      | |  | |     | |    
| |  | | __ _| |_ __ _| |__| |_   _| |__  
| |  | |/ _` | __/ _` |  __  | | | | '_ \ 
| |__| | (_| | || (_| | |  | | |_| | |_) |
|_____/ \__,_|\__\__,_|_|  |_|\__,_|_.__/ 
</pre> 
<br /><br />
<div class="punch">DataHub is a (GitHub like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.
</div>
<br />
<br />
<a class="btn btn-lg btn-primary" href="/register">Sign up for DataHub</a>
{% endblock %}


