{% extends "base.html" %}

{% block content %}
<div class="container">
    <h4 class="inline-block">
    <a class="link" href="/browse/{{repo_base}}">{{repo_base}}</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
  </h4>
    <hr />
    <h2>Create New License</h2>
 <!--    <h2> Existing Licenses
    {% for licenses in licenses %}
    <a href="#"> {{license}} </a>
    {% endfor%}

    </h2> -->
    <form role="form" method="POST" action="{% url 'license_create' %}" enctype='multipart/form-data' id="license-form">


    <table>
        <h3>General</h3>
     <!--    <tr>
            <td class="cell-left">
                Repository:
            </td>
            <td class="cell-right">
                <strong>{{repo_base}}/{{repo}}</strong>
            </td>
        </tr> -->
        <tr>
            <td class="cell-left">
                Owner:
            </td>
            <td class="cell-right">
                <input type="text" class="form-control" placeholder="organization">
            </td>
        </tr>
        <tr>
            <td class="cell-left">
                License Name:
            </td>
            <td class="cell-right">
                <input type="text" class="form-control" name="license_name" id="license_name" placeholder="license name" >
            </td>
        </tr>
        <tr>
            <!-- <td class="cell-left">
                Project Name:
            </td>
            <td class="cell-right">
                <input type="text" class="form-control" name="project_name" id="license_name" placeholder="project name">
            </td> -->
        </tr>
        <tr>
            <td>
                <h3>Privacy and Protection </h3>
                    <h4> Regulations </h4>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="pii_def" value="hipaa">
                            HIPAA
                          </label>
                        </div>
                        <div class="checkbox disabled">
                          <label>
                            <input type="checkbox" value="ferpa" name="pii_def">
                            FERPA
                          </label>
                        </div>
                    <h4>Privacy</h4>
                    <!-- <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            Data Anonymized
                          </label>
                        </div> -->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="" >
                            PII Anonymized or Removed
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="anonymized"  name="pii">
                            PII Anonymized
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="" >
                            PII Removed
                          </label>
                        </div>
                    <h4> Exceptions </h4>
                    <h4> Reidentification </h4>
                    <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            Use K-Anonymity
                          </label>
                        </div>
                        <label for="name" class="col-lg-4">K-size</label>
                        <div class="col-lg-8">
                          <input type="text" class="form-control" name="name" id="name" placeholder="Bucket Size for K">
                        </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
    </table>
         <button class="btn btn-primary btn-xsm" id="create_license" type="submit" style="margin-top:20px;">Create</button>

    </form>
    <br />
    <br />
    
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
    $('#add_collaborator').click(function() {
      var displayAlert = false;
      var message = "";

      var checked = $("input[type=checkbox]:checked").length;
      if(!checked) {
        message += "Please select at least one checkbox.\n";
        displayAlert = true;
      }

      username = $("#collaborator_username").val()
      if(username.length < 1) {
        message += "Please add your collaborator's username.\n";
        displayAlert = true;
      }

      if(displayAlert){
        alert(message);
        return false;
      }

    });
});
</script>
{% endblock js %}
