{% extends "layout.html" %}
{% block content %}
<div id="content">
  <a class="blue bold" href=/browse/{{repo_base}}>{{repo_base}}</a> /
  <hr />
  <h3>Create a new repository</h3>
  <table cellspacing=0>
    <tr>
      <td>
      </td>
      <td style="padding-left:2em;">
         <div id="error"></div>
      </td>
    </tr>
    <tr>
      <td style="padding-top:0.5em; padding-bottom:0.5em;">
        <h4 class="gray">Owner: </h4>
      </td>
      <td style="padding-left:2em; padding-top:0.5em; padding-bottom:0.5em;">
        <select>
          <option class="strong" value="{{repo_base}}">{{repo_base}}</option>        
        </select>
      </td>
    </tr>
    <tr>
      <td style="padding-top:0.5em; padding-bottom:0.5em;">
        <h4 class="gray">Name of the new repository: </h4>
      </td>
      <td style="padding-left:2em; padding-top:0.5em; padding-bottom:0.5em;">
        <input type="text" id="db-name" />
      </td>
    </tr>
    <tr>
      <td style="padding-top:0.5em; padding-bottom:0.5em;">
        <h4 class="gray">Sharing: </h4>
      </td>
      <td style="padding-left:2em; padding-top:0.5em; padding-bottom:0.5em;">
        <input type="radio" name="public" value="false" checked> Private <br />
        <input type="radio" name="public" value="true"> Public
      </td>
    </tr>
    <tr>
      <td style="padding-top:2em">
        <button type="button" class="btn btn-primary" id="btn-create-repo" style="margin-left:0px;">Create Repository</button>
      </td>
    </tr>
  </table>
  <br />
  <br />
</div>
  
<script type="text/javascript">


$(document).ready(function($) {
  var repo_base = '{{repo_base}}'
  var transport = new Thrift.Transport(window.location.protocol + '//' + window.location.host + '/service/json');
  var protocol = new Thrift.Protocol(transport);
  var client = new DataHubClient(protocol);
  var con = new Connection({'user':repo_base})
 
  var create_repo = function(){
    var db_name = $('#db-name').val();
    try {
      res = client.create_repo(con, db_name)
      if (res.status) {
        window.location.href='/browse/{{repo_base}}'
      }
    }catch(error){
      $('#error').html('<span class="error">' + error.message + '</span>');
    }
  }
  $("#btn-create-repo").click(create_repo);
});


</script>
{% endblock %}


