{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3 class="inline-block">
    <a class="link" href="/browse/{{repo_base}}">{{repo_base}}</a>
    <a class="link" href="/browse/{{repo_base}}">/</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
  </h3>
  
  <div class="pull-right">
    <a class="btn btn-primary btn-sm" role="button" href="/dbwipes/{{repo_base}}/{{repo}}/{{table}}">DBWipes</a>
  </div>
  <hr />
  <br />

  <form role="form" method="GET" action="/query/{{repo_base}}/{{repo}}">
    <div class="row">
    <div class="form-group col-sm-10">
      <input type="text" class="form-control" name="query" placeholder="Type SQL query here">
    </div>
    
    <div class="col-sm-2">
      <button class="btn btn-primary btn-xsm" type="submit">Run</button>
    </div>
    
    </div>
  </form>
  {% if tuples and tuples|length > 0 %}
  <div class="panel panel-default">
      <div class="panel-heading">
      <div>
      <pre><code class="language-sql" data-lang="sql">{{query}}</code></pre>
      </div>
      </div>
      
      <div class="table-responsive">
      <table id="table_data" class="table table-condensed table-bordered">
        <thead>
        <tr>
          {% for column_name in column_names %}
          <th>{{column_name}}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for tuple in tuples %}
          <tr>
            {% for cell in tuple %}
              <td class="strong">{{cell}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
  </div>
  <ul class="pagination pagination-sm">
    {% if pages|length > 1 %}
      {% if prev_page > 0 %}
        <li><a href="/query/{{repo_base}}/{{repo}}?query={{query}}&amp;page={{prev_page}}">&laquo;</a></li>
      {% endif %}
      
      {% for page in pages %}
        {% if page == current_page %}
          <li class="active"><a href="#">{{page}}</a></li>
        {% else %}
          <li><a href="/query/{{repo_base}}/{{repo}}?query={{query}}&amp;page={{page}}">{{page}}</a></li>
        {% endif %}
      {% endfor %}
      
      {% if next_page < total_pages %}
        <li><a href="/query/{{repo_base}}/{{repo}}?query={{query}}&amp;page=">&raquo;</a></li>
      {% endif %}
    {% endif %}
  </ul>
</div>
{% endblock %}