{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/dataq/css/style.css">
{% endblock stylesheets %}

{% block content %}
<div class="container">
  <h4 class="inline-block">
    <a class="link" href="/browse/{{repo_base}}">{{repo_base}}</a>
    /
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
    /
  </h4>

  <hr />

  <form role="form" method="GET" action="/browse/{{repo_base}}/{{repo}}/query">
    <div class="row">
      <div class="form-group col-sm-10" style="padding-top: 1em;">
        {% if query %}
        <input id="txt-sql" type="text" class="form-control" name="q" placeholder="Type SQL here" value="{{query}}">
        {% else %}
          <input id="txt-sql" type="text" class="form-control" name="q" placeholder="Type SQL here">
        {% endif %}
      </div>

      <div class="col-sm-2 btn-group-vertical" role="group" style="padding-top: 1em;">
        <button class="btn btn-primary btn-sm" id="btn-run" title="Run the query in the input box and display the results" type="submit">Run</button>
      </div>

    </div>
  </form>
  <br />
  <!-- tabs would go here -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <!-- panel_title -->
      {% if query %}
        <div class="row">
          <div class="col-sm-10">
            <span class="lead">
              Query:
              <code class="language-sql" data-lang="sql">{{query}}</code>
            </span>
          </div>
        </div>
      {% endif %}
      <!-- /panel_title -->

    </div>
    
      <!-- run_button_thing -->
        <p class="bg-warning">Run to execute the query and see results.</p>
      <!-- /run_button_thing -->

  </div>
  <!-- sentiment -->
<!--   <div class="alert alert-success" role="alert" id="alertbox" style="visibility: hidden">
  </div> -->
  <!-- /sentiment -->

</div>

<div class="modal" id="annotation-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="annotation-modal-title">Annotation</h4>
      </div>
      <div class="modal-body" id="annotation-modal-body">
        <form role="form" method="POST" action="/create/annotation" id="frm-annotation">
          <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="url" id="annotation-modal-input-url"/>
            <input type="text" class="form-control" name="annotation" placeholder="Enter text description" id="annotation-modal-input-annotation" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary" id="annotation-modal-operation">Save</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- extra -->
<div class="modal" id="save-card-modal"
    tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="save-card-modal-title">Save as Card</h4>
      </div>
      <div class="modal-body" id="save-card-modal-body">
        <form role="form" method="POST" action="/create/{{repo_base}}/{{repo}}/card" id="save-card-modal-form">
          <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="query" value="{{query}}" />
            <input type="text" class="form-control" name="card-name" placeholder="Enter Card Name" id="save-card-modal-input" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary" id="save-card-modal-operation">Save</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- /extra -->
{% endblock content%}

