{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
  $(document).ready(function(){
    var tables = $('#tables').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bFilter": true,
      "bInfo": false,
      "sWidth": "100%"      
    });

    var files = $('#files').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bFilter": true,
      "bInfo": false,
      "sWidth": "100%"      
    });

    $('.dataTables_filter input').attr("placeholder", "filter by keyword tokens");
  });
</script>


<div id="content">
  <a class="blue bold" href=/browse/{{username}}>{{username}}</a> / <a class = "blue bold" href=/browse/{{username}}/{{repo}}>{{repo}}</a> /
  <hr class="light" />
  <br />
  <br />
  <div>
  <a class="button inactive" href="/console">Create Table with SQL</a> &nbsp; &nbsp; <a class="button inactive" href="/files/{{username}}/{{repo}}">Upload a File</a> &nbsp; &nbsp; <a class="button inactive" href="/data-refiner">Launch Data Refiner</a>
  <!--
  <a class="button inactive" href="/settings/{{username}}/{{repo}}">Manage Settings</a>
  -->
  </div>
  <br />
  <table id="tables">
    <thead>
    <tr>
      <th>All Tables</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for table in tables %}
    <tr>
      <td <a class="blue bold link"><a href="/browse/{{username}}/{{repo}}/{{table}}">{{table}}</a></td>
      <td><a class="blue link" href="/export/{{username}}/{{repo}}/{{table}}">Export to CSV</a> &nbsp; <a class="blue link" href="/browse/{{username}}/{{repo}}/{{table}}">Open</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <br />
  <br />
  <table id="files">
    <thead>
    <tr>
      <th>Uploaded Files</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
      <td <a class="blue bold link"><a href="/download/{{username}}/{{repo}}?file={{file}}">{{file}}</a></td>
      <td><a class="blue link" href="/import/{{username}}/{{repo}}?file={{file}}">Import as Table</a> &nbsp; <a class="blue link" href="/download/{{username}}/{{repo}}?file={{file}}">Download</a> &nbsp; <a class="blue link" href="/delete/{{username}}/{{repo}}?file={{file}}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}





