{% extends "layout.html" %}
{% block content %}
<div id="content">
  <a class="btn btn-default" role="button" href=/browse/{{repo_base}}>{{repo_base}}</a> .
  <a class="btn btn-default" role="button" href=/browse/{{repo_base}}/{{repo}}>{{repo}}</a> .

  <a class="btn btn-primary pull-right" role="button" href="/console">Create Table with SQL</a>
  <a class="btn btn-primary pull-right" role="button" href="/files/{{repo_base}}/{{repo}}">Upload Files</a>
  <a class="btn btn-primary pull-right" role="button" href="/data-refiner">Launch Data Refiner</a>
  <hr />
  
  <div class="table-responsive">
  <table id="tables" class="table table-striped">
    <thead>
    <tr>
      <th>Tables</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for table in tables %}
    <tr>
      <td><a class="blue link" href="/browse/{{repo_base}}/{{repo}}/{{table}}">{{table}}</a></td>
      <td><a class="table-icon" href="/browse/{{repo_base}}/{{repo}}/{{table}}" title="View Table"></a> &nbsp; <a class="csv-icon" href="/export/{{repo_base}}/{{repo}}/{{table}}" title="Export to CSV"></a> &nbsp; <a class="delete-icon" href="/delete-table/{{repo_base}}/{{repo}}/{{table}}" title="Delete"></a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  <br />
  <br />
  <div class="table-responsive">
  <table id="files" class="table table-striped">
    <thead>
    <tr>
      <th>Files</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
      <td><a class="blue link" href="/download/{{repo_base}}/{{repo}}?file={{file}}">{{file}}</a></td>
      <td><a class="database-table-icon" href="/import/{{repo_base}}/{{repo}}?file={{file}}" title="Import to DataHub as Table"></a> &nbsp; <a class="download-icon" href="/download/{{repo_base}}/{{repo}}?file={{file}}" title="Download"></a> &nbsp; <a class="delete-icon" href="/delete/{{repo_base}}/{{repo}}?file={{file}}" title="Delete"></a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}





