{% extends "layout.html" %} {% block content %}
<div class="container">
    <h4 class="inline-block">
    <a class="link" href="/browse/{{repo_base}}">{{repo_base}}</a>
    /
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
    /
  </h4>
    <hr />
    <p class="lead">Manage Repository Settings</p>
    <table>
        <tr>
            <td class="cell-left">
                Repository:
            </td>
            <td class="cell-right">
                <strong>{{repo_base}}/{{repo}}</strong>
            </td>
        </tr>
        <tr>
            <td class="cell-left">
                Owner:
            </td>
            <td class="cell-right">
                <strong>{{repo_base}}</strong>
            </td>
        </tr>
        <tr>
            <td class="cell-left">
                <span title="Permissions are tied to the database being queried, and left to the user to be interpreted. For postgres, see http://www.postgresql.org/docs/9.4/static/sql-grant.html">Collaborators,<br />Permissions:</span>
            </td>
            <td class="cell-right">
                <ul class="list-unstyled">
                    {% if collaborators|length > 0 %} {% for collaborator in collaborators %}
                    <li>
                        <a href="/collaborator/repo/{{repo_base}}/{{repo}}/remove/{{collaborator.username}}" title="Remove"><span class="glyphicon glyphicon-remove"></span></a> &nbsp;
                        <span title="The user you added as a collaborator" class="label label-default">{{collaborator.username}}</span> <a href="http://www.postgresql.org/docs/9.4/static/sql-grant.html" title="Permissions are tied to the database being queried, and left to the user to be interpreted. For postgres, see http://www.postgresql.org/docs/9.4/static/sql-grant.html" target="_blank"><span class="label label-default">{{collaborator.permissions}}</span></a>
                    </li>
                    {% endfor %} {% endif %}
                </ul>
                <div class="highlight">
                    <h4>Add Collaborators</h4>
                    <form class="form-group" role="form" method="POST" action="/collaborator/repo/{{repo_base}}/{{repo}}/add">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="collaborator_username" id="collaborator_username" placeholder="Username" />
                        </div>
                        <p class="help-block">Permissions for repo database tables:</p>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="SELECT" checked/> select
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="UPDATE" checked/> update
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="INSERT" checked/> insert
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="DELETE" checked/> delete
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="TRUNCATE" checked/> truncate
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="REFERENCES" checked/> references
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="db_privileges" value="TRIGGER" checked/> trigger
                            </label>
                        </div>
                        <p class="help-block">Permissions for repo files:</p>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="file_privileges" value="read" checked/> read
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="file_privileges" value="WRITE" checked/> write
                            </label>
                        </div>

                        <button class="btn btn-primary btn-xsm" id="add_collaborator" type="submit">Add</button>
                    </form>
                </div>
            </td>
        </tr>
        {% if repo_is_public %}
        <tr>
            <td class="cell-left">
            Publishing:
            </td>
            <td class="cell-right">
                <p>This repository is currently viewable by anyone.</p>
                <form class="form-inline" role="form" method="POST" action="/collaborator/repo/{{repo_base}}/{{repo}}/remove/{{ public_role }}">
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" name="collaborator_username" id="collaborator_username" value="{{ public_role }}" />
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" id="unpublish" title="This will restrict access to your repo to you and designated collaborators">Revoke Public Access</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td class="cell-left">
            Publishing:
            </td>
            <td class="cell-right">
                <p>This repository is currently restricted to you and to designated collaborators.</p>
                <form class="form-inline" role="form" method="POST" action="/collaborator/repo/{{repo_base}}/{{repo}}/add">
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" name="collaborator_username" id="collaborator_username" value="{{ public_role }}" />
                        <input type="hidden" class="form-control" name="db_privileges" value="SELECT" />
                        <input type="hidden" class="form-control" name="file_privileges" value="read"/>
                    </div>
                    <button class="btn btn-danger btn-lg btn-block" id="publish" title="This will make the repo viewable by anyone, including people whom have not logged into datahub.">Make Repo Public</button>
                </form>
            </td>
        </tr>
        {% endif %}
    </table>
    <br />
    <br />
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('#add_collaborator').click(function() {
      var displayAlert = false;
      var message = "";

      var checked = $("input[type=checkbox]:checked").length;
      if(!checked) {
        message += "Please select at least one checkbox.\n";
        displayAlert = true;
      }

      username = $("#collaborator_username").val()
      if(username.length < 1) {
        message += "Please add your collaborator's username.\n";
        displayAlert = true;
      }

      if(displayAlert){
        alert(message);
        return false;
      }

    });
});

</script>


{% endblock %}
