{% extends "repo-browse-template.html" %}
{% block tabs %}
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="/browse/{{repo_base}}/{{repo}}/tables" role="tab">Tables &amp; Views</a></li>
  <li><a href="/browse/{{repo_base}}/{{repo}}/files" role="tab">Files</a></li>
  <li><a href="/browse/{{repo_base}}/{{repo}}/cards" role="tab">Cards</a></li>
</ul>
{% endblock %}

{% block tab-content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">
      <i class="fa fa-table"></i>
      Base Tables &nbsp;
      <a class="btn btn-default btn-sm" href="/browse/{{repo_base}}/{{repo}}/files" title="Create a New Table"><span class="glyphicon glyphicon-plus"></span></a>
    </span>
  </div>

  {% if base_tables and base_tables|length > 0 %}
    <div class="table-responsive">
      <table class="table">
        <tbody>
          {% for base_table in base_tables %}
          <tr>
            <td>
              <a href="/browse/{{repo_base}}/{{repo}}/table/{{base_table}}">{{base_table}}</a>
            </td>

            <td class="text-right">

              {% if login == repo_base %}
              <a href="{% url 'browse-security_policies' repo_base repo base_table %}" title="View Security Policies"><span class="fa fa-lg fa-fw fa-lock" style="color:#333; vertical-align: 0%;"></span></a>
              &nbsp;&nbsp;
              {% endif %}

              <span
                  class="modal-link modal-confirm-dialog"
                  target-modal="#dialog-modal"
                  target-modal-title="Confirm Table Clone"
                  target-modal-body="<form action='/clone/{{repo_base}}/{{repo}}/table/{{base_table}}'><p>This will create a duplicate of the table {{base_table}}</p><br /><div class='form-group'> <label for='variable-text' class='control-label'>Cloned Table Name:</label> <input type='text' class='form-control' id='variable-text'> </div><div class='modal-footer'><button type='button' class='btn btn-default' data-dismiss='modal'>Close</button> <button type='button' class='btn btn-primary'>Clone</button></div></form>"
                  target-modal-operation="Clone"
                  target-url="/clone/{{repo_base}}/{{repo}}/table/{{base_table}}"
                  title="Clone Table">
                <i class="fa fa-clone"></i>
              </span>&nbsp;&nbsp;

              <span
                  class="modal-link modal-confirm-dialog"
                  target-modal="#dialog-modal"
                  target-modal-title="Confirm CSV Export"
                  target-modal-body="<form action='/export/{{repo_base}}/{{repo}}/table/{{base_table}}'><p>This will export the table <strong><em>{{base_table}}</em></strong> to a CSV file inside the <strong><em>{{repo_base}}/{{repo}}</em></strong> repository. The operation will overwrite any existing file with the same name. Are you sure?</p><br /><div class='form-group'> <label for='variable-text' class='control-label'>CSV Name:</label> <input type='text' class='form-control' id='variable-text' placeholder='{{base_table}}'> </div><div class='modal-footer'><button type='button' class='btn btn-default' data-dismiss='modal'>Close</button> <button type='button' class='btn btn-primary'>Export</button></div></form>"
                  target-modal-operation="Export"
                  target-url="/export/{{repo_base}}/{{repo}}/table/{{base_table}}"
                  title="CSV Export">
                <span class="csv-icon"></span>
              </span>&nbsp;&nbsp;

              <span
                  class="modal-link modal-confirm-dialog"
                  target-modal="#confirm-modal"
                  target-modal-title="Confirm Delete"
                  target-modal-body="This will permanently delete the table <strong><em>{{base_table}}</em></strong> from the repository <strong><em>{{repo_base}}/{{repo}}</em></strong>. The operation can't be undone. Are you sure?"
                  target-modal-operation="Delete"
                  target-url="/delete/{{repo_base}}/{{repo}}/table/{{base_table}}"
                  title="Delete">
                <span class="delete-icon"></span>
              </span>&nbsp;&nbsp;
            </td>
          </tr>
          {% endfor %}
          <tr>
            <th class="lead" style="background-color:#f5f5f5;">&nbsp; <i class="fa fa-binoculars"></i> Views</th>
            <th style="background-color:#f5f5f5;"></th>
          </tr>

          {% for view in views %}
          <tr>
            <td>
              <a href="/browse/{{repo_base}}/{{repo}}/table/{{view}}">{{view}}</a>
            </td>

            <td class="text-right">
              <span
                  class="modal-link modal-confirm-dialog"
                  target-modal="#confirm-modal"
                  target-modal-title="Confirm CSV Export"
                  target-modal-body="This will export the view <strong><em>{{view}}</em></strong> to a CSV file named <strong><em>{{view}}.csv</em></strong> inside the <strong><em>{{repo_base}}/{{repo}}</em></strong> repository. The operation will overwrite any existing file with the same name. Are you sure?"
                  target-modal-operation="Export"
                  target-url="/export/{{repo_base}}/{{repo}}/table/{{view}}"
                  title="CSV Export">
                <span class="csv-icon"></span>
              </span>&nbsp;&nbsp;

              <span
                  class="modal-link modal-confirm-dialog"
                  target-modal="#confirm-modal"
                  target-modal-title="Confirm Delete"
                  target-modal-body="This will permanently delete the view <strong><em>{{view}}</em></strong> from the repository <strong><em>{{repo_base}}/{{repo}}</em></strong>. The operation can't be undone. Are you sure?"
                  target-modal-operation="Delete"
                  target-url="/delete/{{repo_base}}/{{repo}}/view/{{view}}"
                  title="Delete">
                <span class="delete-icon"></span>
              </span>&nbsp;&nbsp;
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  {% else %}
    <p class="bg-warning">No table in <strong>{{repo_base}}.{{repo}}</strong></p>
  {% endif %}
</div>
{% endblock %}





