{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3 class="inline-block">
    <a class="link" href=/browse/{{repo_base}}>{{repo_base}}</a>
    <a class="link" href=/browse/{{repo_base}}>/</a>
    <a class="link" href=/browse/{{repo_base}}/{{repo}}>{{repo}}</a>
    <a class="link" href=/browse/{{repo_base}}/{{repo}}>/</a>
  </h3>

  <hr />
  <br />
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tables" role="tab" data-toggle="tab">Tables</a></li>
    <li><a href="#files" role="tab" data-toggle="tab">Files</a></li>
    <li><a href="#cards" role="tab" data-toggle="tab">Cards</a></li>
    <li><a href="#dashboards" role="tab" data-toggle="tab">Dashboards</a></li>
  </ul>

  <div class="tab-content">
    <br />
    <div class="tab-pane active" id="tables">
      <div class="panel panel-default">
      <div class="panel-heading"><h4>Tables &nbsp; <a class="btn btn-primary" href="/browse/{{repo_base}}/{{repo}}#files" title="Create a New Table"><span class="glyphicon glyphicon-plus"></span></a>
        <!--
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> <span class="caret"></span></button></h4>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Dropdown link</a></li>
          <li><a href="#">Dropdown link</a></li>
        </ul-->
      </div>
      
      {% if tables|length > 0 %}
        <div class="table-responsive">
          <table class="table">
            <tbody>
              {% for table in tables %}
              <tr>
                <td>
                  <a href="/browse/{{repo_base}}/{{repo}}/table/{{table}}">{{table}}</a>
                </td>
                <td class="text-right">
                  <a href="/browse/{{repo_base}}/{{repo}}/table/{{table}}" title="View Table">
                    <span class="table-icon"></span>
                  </a> &nbsp;&nbsp;
                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm CSV Export"
                      target-modal-body="This will export the table <strong><em>{{table}}</em></strong> to a CSV file named <strong><em>{{table}}.csv</em></strong> inside the <strong><em>{{repo_base}}/{{repo}}</em></strong> repository. The operation will overwrite any existing file with the same name. Are you sure?"
                      target-modal-operation="Export"
                      target-url="/export/{{repo_base}}/{{repo}}/table/{{table}}"
                      title="CSV Export">
                    <span class="csv-icon"></span>
                  </span>&nbsp;&nbsp;
                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm Delete"
                      target-modal-body="This will permanently delete the table <strong><em>{{table}}</em></strong> from the repository <strong><em>{{repo_base}}/{{repo}}</em></strong>. The operation can't be undone. Are you sure?"
                      target-modal-operation="Delete"
                      target-url="/delete/{{repo_base}}/{{repo}}/table/{{table}}"
                      title="Delete">
                    <span class="delete-icon"></span>
                  </span>&nbsp;&nbsp;
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="bg-warning">No table in <strong>{{repo_base}}.{{repo}}</strong></p>
      {% endif %}
    </div>
    </div>

    <div class="tab-pane" id="files">
      <br />
      <form role="form" class="form-inline" method="POST" action="/upload/{{repo_base}}/{{repo}}/file" enctype='multipart/form-data'>
        <div class="form-group">
          {% csrf_token %}
          <input type="file" class="form-control" name="data_file" placeholder="Data File">
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Upload File</button>
      </form>
      <br />

      <div class="panel panel-default">
      <div class="panel-heading"><h4>Files</h4></div>
      {% if files|length > 0 %}
        <div class="table-responsive">
          <table class="table">
            <tbody>            
              {% for file in files %}
              <tr>
                <td>
                  <a href="/download/{{repo_base}}/{{repo}}/file/{{file}}">{{file}}</a>
                </td>
                <td class="text-right">
                  <span
                      class="modal-link modal-import-dialog"
                      target-modal="#import-modal"
                      target-url="/import/{{repo_base}}/{{repo}}/file/{{file}}"
                      target-file="{{file}}"
                      title="Import to DataHub as Table">
                    <span class="database-table-icon"></span>
                  </span>&nbsp;&nbsp;
                  <a href="/download/{{repo_base}}/{{repo}}/file/{{file}}" title="Download">
                    <span class="download-icon"></span>
                  </a>&nbsp;&nbsp;
                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm Delete"
                      target-modal-body="This will permanently delete the file <strong><em>{{repo_base}}/{{repo}}/file/{{file}}</em></strong>. The operation can't be undone. Are you sure?"
                      target-modal-operation="Delete"
                      target-url="/delete/{{repo_base}}/{{repo}}/file/{{file}}"
                      title="Delete">
                    <span class="delete-icon"></span>
                  </span>&nbsp;&nbsp;
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="bg-warning">No file in <strong>{{repo_base}}/{{repo}}</strong></p>
      {% endif %}
      </div>
    </div>

    <div class="tab-pane" id="cards">
      <br />
      <div class="panel panel-default">
      <div class="panel-heading"><h4>Cards</h4></div>
      {% if cards|length > 0 %}
        <div class="table-responsive">
          <table class="table">
            <tbody>            
              {% for card in cards %}
              <tr>
                <td>
                  <a href="/browse/{{repo_base}}/{{repo}}/card/{{card}}">{{card}}</a>
                </td>
                <td class="text-right">
                  <a href="/browse/{{repo_base}}/{{repo}}/card/{{card}}" title="View Card">
                    <span class="table-icon"></span>
                  </a> &nbsp;&nbsp;
                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm CSV Export"
                      target-modal-body="This will export the card <strong><em>{{card}}</em></strong> to a CSV file named <strong><em>{{table}}.csv</em></strong> inside the <strong><em>{{repo_base}}/{{repo}}</em></strong> repository. The operation will overwrite any existing file with the same name. Are you sure?"
                      target-modal-operation="Export"
                      target-url="/export/{{repo_base}}/{{repo}}/card/{{card}}"
                      title="CSV Export">
                    <span class="csv-icon"></span>
                  </span>&nbsp;&nbsp;
                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm Delete"
                      target-modal-body="This will permanently delete the card <strong><em>{{card}}</em></strong> from the repository <strong><em>{{repo_base}}/{{repo}}</em></strong>. The operation can't be undone. Are you sure?"
                      target-modal-operation="Delete"
                      target-url="/delete/{{repo_base}}/{{repo}}/card/{{card}}"
                      title="Delete">
                    <span class="delete-icon"></span>
                  </span>&nbsp;&nbsp;                  
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="bg-warning">No card in <strong>{{repo_base}}/{{repo}}</strong></p>
      {% endif %}
      </div>
    </div>

    <div class="tab-pane" id="dashboards">
      <br />
      <div class="panel panel-default">
      <div class="panel-heading"><h4>Dashboards</h4></div>
      {% if dashboards|length > 0 %}
        <div class="table-responsive">
          <table class="table">
            <tbody>            
              {% for dashboard in dashboards %}
              <tr>
                <td>
                  <a href="/browse/{{repo_base}}/{{repo}}/dashboard/{{dashboard}}">{{dashboard}}</a>
                </td>
                <td class="text-right">
                  <a href="/browse/{{repo_base}}/{{repo}}/dashboard/{{dashboard}}" title="View Dashboard">
                    <span class="table-icon"></span>
                  </a> &nbsp;&nbsp;
                  
                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm Delete"
                      target-modal-body="This will permanently delete the dashboard <strong><em>{{dashboard}}</em></strong> from the repository <strong><em>{{repo_base}}/{{repo}}</em></strong>. The operation can't be undone. Are you sure?"
                      target-modal-operation="Delete"
                      target-url="/delete/{{repo_base}}/{{repo}}/dashboard/{{dashboard}}"
                      title="Delete">
                    <span class="delete-icon"></span>
                  </span>&nbsp;&nbsp;                  
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="bg-warning">No dashboard in <strong>{{repo_base}}/{{repo}}</strong></p>
      {% endif %}
      </div>
    </div>

  </div>
</div>

<div
    class="modal" id="import-modal" 
    tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirm-modal-title">DataHub Import</h4>
      </div>
      <div class="modal-body" id="confirm-modal-body">
        <form id="frm-import" role="form" method="GET" action="#">
          <p>This will import the file as a DataHub table to <strong>{{repo_base}}/{{repo}}</strong> repository.
          <br />
          <br />
          Please provide the following details:
          <br />
          <input type="hidden" name="file" id="import-file-name" />
          <label for="delemiter">Delemiter: </label>&nbsp;
          <select id="import-delemiter" name="delimiter">
            <option value=",">Comma [,]</option>
            <option value="\t">Tabs [\t]</option>
            <option value=":">Colon [:]</option>
            <option value=";">Semi Colon [;]</option>
            <option value="|">Vertical Bar [|]</option>
            <option value=" ">White Space [ ])</option>
            <option value="">Other</option>
          </select>&nbsp;&nbsp;
          <label for="other-import-delemiter">Other: </label>&nbsp;
          <input type="text" name="other_delimiter" id="other-import-delemiter"/>
          <br />
          <label for="has-header">Has Header: </label>&nbsp;
          <select id="has-header" name="has_header">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select> <br />
          <label for="quote-character">Quote Character: </label>&nbsp;
          <select id="quote-character" name="quote_character">
            <option value='"'>Double Quote ["]</option>
            <option value="'">Single Quote[']</option>
            <option value="">Other</option>
          </select>&nbsp;&nbsp;
          <label for="other-quote-character">Other: </label>&nbsp;
          <input type="text" name="other_quote_character" id="other-quote-character"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary" id="import-modal-operation">Import</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.nav-tabs a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });

  $(window).on("hashchange", function() {
    var hash = window.location.hash;
    var tab_item = $(".nav-tabs a").filter("[href=" + hash + "]").tab("show");
  }).trigger("hashchange");

  $('.modal-import-dialog').on('click', function(e){
    var modal_id = $(this).attr('target-modal')
    var target_url = $(this).attr('target-url')
    var target_file = $(this).attr('target-file')

    $(modal_id).off('click');
    
    $(modal_id).modal({keyboard: true})
      .on('click', modal_id + '-operation', function (e) {
        $("#import-file-name").val(target_file)
        $("#frm-import").attr("action", target_url)
        $("#frm-import").submit()
        $(modal_id).modal('hide')
        $("#wait-dialog").modal()  
      });
  });
});
</script
{% endblock %}





