{% extends "layout.html" %}
{% block content %}
<div id="content">
  <h3 class="inline-block">
    <a class="link" href="/browse/{{repo_base}}">{{repo_base}}</a>
    <a class="link" href="/browse/{{repo_base}}">/</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">/</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}/{{table}}">{{table}}</a>
  </h3>
  <hr />
  <h3>Manage Settings</h3>
  <table>

    <tr>
      <td class="cell-left">
        Owner:
      </td>
      <td class="cell-right">          
        <strong>{{repo_base}}</strong>
      </td>
    </tr>
    <tr>
      <td class="cell-left">
        Collaborators:
      </td>
      <td class="cell-right">
        {% for collaborator in collaborators %}
          <span class="label label-default">{{collaborator}}</span> <br />
        {% endfor %}
        <br />
        <form class="form-inline" role="form" method="POST" action="/add-collaborator/{{repo_base}}/{{repo}}">
          {% csrf_token %}
          <input type="text" class="form-control" name="collaborator_username" placeholder="Username">
          <button class="btn btn-primary btn-xsm" type="submit">Add</button>
        </form>     
      </td>
    </tr>
  </table>
  <br />
  <br />
</div>
{% endblock %}


