{% extends "repo-browse-template.html" %}
{% block tabs %}
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/browse/{{repo_base}}/{{repo}}/tables" role="tab">Tables</a></li>
  <li class="active"><a href="/browse/{{repo_base}}/{{repo}}/files" role="tab">Files</a></li>
  <li><a href="/browse/{{repo_base}}/{{repo}}/cards" role="tab">Cards</a></li>
  <li><a href="/browse/{{repo_base}}/{{repo}}/dashboards" role="tab">Dashboards</a></li>
</ul>
{% endblock %}

{% block tab-content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="lead">
      Files &nbsp;
      <button class="btn btn-default btn-sm modal-upload-dialog" type="button" target-modal="#file-upload-modal" title="Upload a New File"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
  </div>

  {% if files and files|length > 0 %}
    <div class="table-responsive">
      <table class="table">
        <tbody>            
          {% for file in files %}
          <tr>
            <td>
              <a href="/download/{{repo_base}}/{{repo}}/file/{{file}}">{{file}}</a>
            </td>
            
            <td class="text-right">
              <span
                  class="modal-link modal-import-dialog"
                  target-modal="#import-modal"
                  target-url="/import/{{repo_base}}/{{repo}}/file/{{file}}"
                  target-file="{{file}}"
                  title="Import to DataHub as Table">
                <span class="database-table-icon"></span>
              </span>&nbsp;&nbsp;
              
              <a href="/download/{{repo_base}}/{{repo}}/file/{{file}}" title="Download">
                <span class="download-icon"></span>
              </a>&nbsp;&nbsp;
              
              <span
                  class="modal-link modal-confirm-dialog"
                  target-modal="#confirm-modal"
                  target-modal-title="Confirm Delete"
                  target-modal-body="This will permanently delete the file <strong><em>{{repo_base}}/{{repo}}/file/{{file}}</em></strong>. The operation can't be undone. Are you sure?"
                  target-modal-operation="Delete"
                  target-url="/delete/{{repo_base}}/{{repo}}/file/{{file}}"
                  title="Delete">
                <span class="delete-icon"></span>
              </span>&nbsp;&nbsp;
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="bg-warning">No file in <strong>{{repo_base}}/{{repo}}</strong></p>
  {% endif %}
</div>

<div class="modal" id="import-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="confirm-modal-title">DataHub Import</h4>
      </div>
      <div class="modal-body" id="confirm-modal-body">
        <form id="frm-import" role="form" method="GET" action="#">
          <p>This will import the file as a DataHub table to <strong>{{repo_base}}/{{repo}}</strong> repository.
          <br />
          <br />
          Please provide the following details:
          <br />
          <input type="hidden" name="file" id="import-file-name" />
          <label for="delemiter">Delemiter: </label>&nbsp;
          <select id="import-delemiter" name="delimiter">
            <option value=",">Comma [,]</option>
            <option value="\t">Tabs [\t]</option>
            <option value=":">Colon [:]</option>
            <option value=";">Semi Colon [;]</option>
            <option value="|">Vertical Bar [|]</option>
            <option value=" ">White Space [ ])</option>
            <option value="">Other</option>
          </select>&nbsp;&nbsp;
          <label for="other-import-delemiter">Other: </label>&nbsp;
          <input type="text" name="other_delimiter" id="other-import-delemiter"/>
          <br />
          <label for="has-header">Has Header: </label>&nbsp;
          <select id="has-header" name="has_header">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select> <br />
          <label for="quote-character">Quote Character: </label>&nbsp;
          <select id="quote-character" name="quote_character">
            <option value='"'>Double Quote ["]</option>
            <option value="'">Single Quote[']</option>
            <option value="">Other</option>
          </select>&nbsp;&nbsp;
          <label for="other-quote-character">Other: </label>&nbsp;
          <input type="text" name="other_quote_character" id="other-quote-character"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary" id="import-modal-operation">Import</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="file-upload-modal" 
    tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="file-upload-modal-title">Upload File</h4>
      </div>
      <div class="modal-body" id="file-upload-modal-body">
        <form role="form" method="POST" action="/upload/{{repo_base}}/{{repo}}/file" enctype='multipart/form-data' id="file-upload-modal-form">
          <div class="form-group">
            {% csrf_token %}
            <input type="file" class="form-control" name="data_file" placeholder="Data File">
          </div>
        </form>   
      </div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary" id="file-upload-modal-operation">Upload</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.modal-import-dialog').on('click', function(e){
    var modal_id = $(this).attr('target-modal')
    var target_url = $(this).attr('target-url')
    var target_file = $(this).attr('target-file')

    $(modal_id).off('click');
    
    $(modal_id).modal({keyboard: true})
      .on('click', modal_id + '-operation', function(e) {
        $("#import-file-name").val(target_file)
        $("#frm-import").attr("action", target_url)
        $("#frm-import").submit()
        $(modal_id).modal('hide')
        $("#wait-dialog").modal()
      });
  });

  $('.modal-upload-dialog').on('click', function(e){
    var modal_id = $(this).attr('target-modal')
    $(modal_id).off('click');

    $(modal_id).modal({keyboard: true})
      .on('click', modal_id + '-operation', function(e) {
        $(modal_id + '-form').submit()
        $(modal_id).modal('hide')
        $("#wait-dialog").modal()
      });
  });

});
</script>
{% endblock %}





