{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h4 class="inline-block">
    <a class="link" href=/browse/{{repo_base}}>{{repo_base}}</a>
    /
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
    /
    {% block table-name %}
      table / {{table}}
    {% endblock %}
  </h4>

  {% block apps %}
  <div class="pull-right">
    <a class="btn btn-primary btn-sm" role="button" href="/apps/dbwipes/page/{{repo_base}}/{{repo}}/{{table}}">DBWipes</a>
  </div>
  {% endblock %}

  <hr />
  <br />

  <form role="form" method="GET" action="/browse/{{repo_base}}/{{repo}}/query">
    <div class="row">
    <div class="form-group col-sm-10">
      {% if query %}
      <input id="txt-sql" type="text" class="form-control" name="q" placeholder="Type SQL here" value="{{query}}">
      {% else %}
        <input id="txt-sql" type="text" class="form-control" name="q" placeholder="Type SQL here">
      {% endif %}
    </div>
    
    <div class="col-sm-2">
      <button class="btn btn-primary btn-xsm" id="btn-run" type="submit">Run</button>
      <button class="btn btn-primary btn-xsm" id="btn-dataq">DataQ</button>
    </div>
    
    </div>
  </form>
  <br />
  
  {% block tabs %}
  {% endblock %}
  
  <br />

  <div class="panel panel-default">    
    <div class="panel-heading">
      {% block panel-title %}
      {% endblock %}
      <br />
      {% block annotation %}
        {% if annotation %}
          <span class="text-muted">{{annotation}}</span>&nbsp; &nbsp;<span class="modal-link annotation-modal-dialog" target-modal="#annotation-modal" title="Edit Description" placeholder="{{annotation}}" url-path="/browse/{{repo_base}}/{{repo}}/table/{{table}}"><span class="glyphicon glyphicon-edit"></span></span>
        {% else %}
          <span class="text-warning"><em>No description yet</em></span>&nbsp; &nbsp;<span class="modal-link annotation-modal-dialog" target-modal="#annotation-modal" title="Add Description" url-path="/browse/{{repo_base}}/{{repo}}/table/{{table}}"><span class="glyphicon glyphicon-edit"></span></span>
        {% endif %}
      {% endblock %}  
    </div>    


    <!-- Uncomment for sentiment analysis.
    <div class="dropdown sentiment-dropdown" style="margin: 10px 0 0 5px">
      <button class="btn btn-default dropdown-toggle" type="button" id="sentimentDropdown" data-toggle="dropdown" aria-expanded="true">
        Run Sentiment Analysis 
        <span class="caret"></span>
      </button>
      <ul id="sentiment_col_list" class="dropdown-menu" role="menu" aria-labelledby="sentimentDropdown">
      </ul>
    </div>
    -->
    
    {% if tuples and tuples|length > 0 %}
      {% block table-data %}
        <div class="table-responsive datahub-datatable-no-scroll table-container">
        <table id="table_data" class="table table-condensed table-bordered datahub-datatable-no-scroll">
          <thead>
            <tr>
              {% for column_name in column_names %}
              <th>{{column_name}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for column_name in column_names %}
              <th data-colname="{{column_name}}">{{column_name}}</th>
              {% endfor %}
            </tr>
          </tfoot>
          <tbody>
            {% for tuple in tuples %}
            <tr>
              {% for cell in tuple %}
                <td class="strong">{{cell}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br />
        </div>
        <div class="inlineblock floatright">
          {%block pagination %}
          {% endblock %}
        </div>
      {% endblock %}

    {% else %}
      {% block table-empty-warning %}
      <p class="bg-warning">The <strong>{{table}}</strong> table is empty.</p>
      {% endblock %}
    {% endif %}
  
  </div>
  <!-- Uncomment for sentiment analysis.
  <div class="alert alert-success" role="alert" id="alertbox" style="visibility: hidden">
   _ 
  </div>
  -->
</div>

<div class="modal" id="annotation-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="annotation-modal-title">Annotation</h4>
      </div>
      <div class="modal-body" id="annotation-modal-body">
        <form role="form" method="POST" action="/create/annotation" id="frm-annotation">
          <div class="form-group">
            {% csrf_token %}
            <input type="hidden" name="url" id="annotation-modal-input-url"/>
            <input type="text" class="form-control" name="annotation" placeholder="Enter text description" id="annotation-modal-input-annotation" />
          </div>
        </form>      
      </div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary" id="annotation-modal-operation">Save</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('.annotation-modal-dialog').on('click', function(e){
    var modal_id = $(this).attr('target-modal')
    var title = $(this).attr('title')
    var placeholder = $(this).attr('placeholder')
    var url_path = $(this).attr('url-path')
    
    $(modal_id + '-title').text(title)
    $(modal_id + '-input-annotation').val(placeholder)
    $(modal_id + '-input-url').val(url_path)

    $(modal_id).off('click');
    
    $(modal_id).modal({keyboard: true})
      .on('click', modal_id + '-operation', function (e) {
        $("#frm-annotation").submit()
        $(modal_id).modal('hide')
        $("#wait-dialog").modal()  
      });
  });
</script>

<script>
  $(document).ready(function() {
    // $(".sentiment-dropdown").hide();
    $("#table_data").EnhancedDataTable("{{repo}}", "{{table}}", function(query) {
      $("#txt-sql").val(query);
    }, function(datatable) {
      /*
      $(".sentiment-dropdown").show();
      var sentiment_col_list = $("#sentiment_col_list");
      sentiment_col_list.html("");
      datatable.getColDef().forEach(function(colDef) {
        var colname = colDef.name;
        sentiment_col_list.append('<li data-colname="'+ colname + '" role="presentation"><a role="menuitem" tabindex="-1" >'+ colname +'</a></li>');
      });

      sentiment_col_list.find("li").click(function() {
        var colname = $(this).data("colname");
        var sentences = [];
        datatable.forEachRowInColumn(colname, function(value) {
          sentences.push(value);
        });
        Sentiment(sentences, function(err, sentiments) {
          if (err !== null) {
            throw err;
          } else {
            var num_positive = 0;
            var num_negative = 0;
            var threshold = 0;
            datatable.forEachRowInColumn(colname, function(value, node, index) {
              var polarity = sentiments[index].polarity;
              if (polarity < -1*threshold) {
                num_negative++;
                node.css("color", "red");
              } else if (polarity > threshold) {
                num_positive++;
                node.css("color", "green");
              }
            });
            var alertbox = $("#alertbox");
            alertbox.html("Sentiment analysis finished with " + num_positive + " positive and " + num_negative + " negative.");
            alertbox.css("visibility", "visible");
            setTimeout(function() {
              alertbox.css("visibility", "hidden");
            }, 3000);
          }
        });
      });
      */
    });
  });
</script>

<script>    
  $(document).on("click", "#btn-dataq", function(e) {    
    e.preventDefault();    
    DataQ.DQ("{{repo}}", function(query) {   
      $("#txt-sql").val(query);    
    });    
  });
</script>

{% block extra %}
{% endblock %}

{% endblock %}
