{% extends "layout.html" %}
{% block content %}
<div id="page">
<div class="container">
  <h3 class="inline-block">
    <a class="link" href="/browse/{{repo_base}}">{{repo_base}}</a>
    <a class="link" href="/browse/{{repo_base}}">/</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">{{repo}}</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}">/</a>
    <a class="link" href="/browse/{{repo_base}}/{{repo}}/{{table}}">{{table}}</a>
  </h3>
  
  <div class="pull-right">
    <a class="btn btn-primary btn-sm" role="button" href="/console">SQL Console</a>
    <a class="btn btn-primary btn-sm" role="button" href="/dbwipes/{{repo_base}}/{{repo}}/{{table}}">DBWipes</a>
  </div>
  <hr />
  <br />
  <div class="panel panel-default">
    <div class="panel-heading"><h4>{{table}}</h4></div>
    {% if tuples|length > 0 %}
      <div class="table-responsive">
      <table id="table_data" class="table table-condensed table-bordered">
        <thead>
        <tr>
          {% for column_name in column_names %}
          <th>{{column_name}}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for tuple in tuples %}
          <tr>
            {% for cell in tuple %}
              <td class="strong">{{cell}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% else %}
      <p class="bg-warning">The <strong>{{table}}</strong> table is empty.</p>
    {% endif %}
  </div>
  <ul class="pagination pagination-sm">
    {% if pages|length > 1 %}
      {% if prev_page > 0 %}
        <li><a href="/browse/{{repo_base}}/{{repo}}/{{table}}/{{prev_page}}">&laquo;</a></li>
      {% endif %}
      
      {% for page in pages %}
        {% if page == current_page %}
          <li class="active"><a href="#">{{page}}</a></li>
        {% else %}
          <li><a href="/browse/{{repo_base}}/{{repo}}/{{table}}/{{page}}">{{page}}</a></li>
        {% endif %}
      {% endfor %}
      
      {% if next_page < total_pages %}
        <li><a href="/browse/{{repo_base}}/{{repo}}/{{table}}/{{next_page}}">&raquo;</a></li>
      {% endif %}
    {% endif %}
  </ul>
</div>
</div>
{% endblock %}