{% extends "layout.html" %}
{% block content %}
<div id="content">
  <h3 class="inline-block">
    <a class="link" href=/browse/{{repo_base}}>{{repo_base}}</a>
    <a class="link" href=/browse/{{repo_base}}>/</a>
  </h3>
  
  <div class="pull-right">
    <a class="btn btn-primary btn-sm" role="button" href="/newrepo/{{repo_base}}">Create New Repository</a>
  </div>
  <hr />
  <br />
  <div class="panel panel-default">
  <div class="panel-heading"><h4>Repositories</h4></div>
  {% if repos|length > 0 %}
    <div class="table-responsive">
      <table id="repos" class="table">
        <tbody>            
            {% for repo in repos %}
              <tr>
                <td><a class="link" href=/browse/{{repo.owner}}/{{repo.name}}>{{repo.name}}</a></td>
                
                {% if repo.public %}
                  <td>Public</td>
                {% else %}
                  <td>Private</td>
                {% endif %}
                
                {% if repo.collaborators_str %}
                  <td class="text-right"><a href="#" title="Shared with {{repo.collaborators_str}}">{{repo.num_collaborators}} collaborators</a></td>
                {% else %}
                  <td class="text-right">{{repo.num_collaborators}} collaborators</td>
                {% endif %}
                
                <td class="text-left" style="max-width:15em;"><a class="btn btn-default btn-xs" href=/settings/{{repo.owner}}/{{repo.name}} title="Manage Settings"><span class="glyphicon glyphicon-cog"></a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="bg-warning">No repository in <strong>{{repo_base}}</strong></p>
  {% endif %} 
  </div>
  <!--
  <table id="shared_repos">
    <thead>
    <tr>
      <th>Repositories Shared With You</th>
      <th>Owner</th>
    </tr>
    </thead>
    <tbody>
      {% for repo in shared_repos %}
        <tr>
        <td class="blue link"><a class="blue link" href=/browse/{{repo.owner}}/{{repo.name}}>{{repo.name}}</a></td>
        <td class="blue link"><a class="blue link" href=/browse/{{repo.owner}}>{{repo.owner}}</a></td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  -->
</div>
{% endblock %}





