{% extends "layout.html" %}
{% block content %}
<div id="content">
  <h3 class="inline-block">
    <a class="link" href=/browse/{{repo_base}}>{{repo_base}}</a>
    <a class="link" href=/browse/{{repo_base}}>/</a>
  </h3>
  
  <div class="pull-right">
    <a class="btn btn-primary" role="button" href="/newrepo/{{repo_base}}">Create New Repository</a>
  </div>
  <hr />
  <h3>Repositories</h3>
  <br />
  {% if repos|length > 0 %}
    <div class="table-responsive">
      <table id="repos" class="table">
        <thead>
        <tr>
          <th>Repo Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          {% for repo in repos %}
            <tr>
            <td><a class="blue link" href=/browse/{{repo.owner}}/{{repo.name}}>{{repo.name}}</a></td>
            <td class="text-right"></td>
            </tr>
          {% endfor %}  
        </tbody>
      </table>
    </div>
  {% else %}
    <span class="label label-warning">{{repo_base}} doesn't have any repository yet.</span>
  {% endif %} 
  <br />
  <br />
  <!--
  <table id="shared_repos">
    <thead>
    <tr>
      <th>Repositories Shared With You</th>
      <th>Owner</th>
    </tr>
    </thead>
    <tbody>
      {% for repo in shared_repos %}
        <tr>
        <td class="blue link"><a class="blue link" href=/browse/{{repo.owner}}/{{repo.name}}>{{repo.name}}</a></td>
        <td class="blue link"><a class="blue link" href=/browse/{{repo.owner}}>{{repo.owner}}</a></td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  -->
</div>
{% endblock %}





