{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3 class="inline-block">
    <a class="link" href=/browse/{{repo_base}}>{{repo_base}}</a>
    <a class="link" href=/browse/{{repo_base}}>/</a>
  </h3>
  
  <div class="pull-right">
    <a class="btn btn-primary btn-sm" role="button" href="/newrepo/{{repo_base}}">Create New Repository</a>
  </div>
  <hr />
  <br />
  <div class="panel panel-default">
  <div class="panel-heading"><h4>Repositories</h4></div>
  {% if repos|length > 0 %}
    <div class="table-responsive">
      <table id="repos" class="table">
        <tbody>            
            {% for repo in repos %}
              <tr>
                <td><a class="link" href=/browse/{{repo.owner}}/{{repo.name}}>{{repo.name}}</a></td>
                
                {% if repo.public %}
                  <td>Public</td>
                {% else %}
                  <td>Private</td>
                {% endif %}
                
                <td class="text-right" style="width: 25em; max-width: 30em;">
                  <a href="/settings/{{repo.owner}}/{{repo.name}}" title="Shared with {{repo.collaborators_str}}">{{repo.num_collaborators}} collaborators</a>
                  &nbsp;&nbsp;

                  <a href="/settings/{{repo.owner}}/{{repo.name}}" title="Manage collaborators"><span class="glyphicon glyphicon-cog"></span></a>
                  &nbsp;&nbsp;

                  <span
                      class="modal-link modal-confirm-dialog"
                      target-modal="#confirm-modal"
                      target-modal-title="Confirm Delete"
                      target-modal-body="This will permanently delete the repository <label>{{repo.owner}}/{{repo.name}}</label> and all the tables inside it. The operation can't be undone. Are you sure?"
                      target-modal-operation="Delete"
                      target-url="/delete-repo/{{repo.owner}}/{{repo.name}}"
                      title="Delete">
                    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                  &nbsp;&nbsp;
                </td>
                
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="bg-warning">No repository in <strong>{{repo_base}}</strong></p>
  {% endif %} 
  </div>
  <!--
  <table id="shared_repos">
    <thead>
    <tr>
      <th>Repositories Shared With You</th>
      <th>Owner</th>
    </tr>
    </thead>
    <tbody>
      {% for repo in shared_repos %}
        <tr>
        <td class="blue link"><a class="blue link" href=/browse/{{repo.owner}}/{{repo.name}}>{{repo.name}}</a></td>
        <td class="blue link"><a class="blue link" href=/browse/{{repo.owner}}>{{repo.owner}}</a></td>
        </tr>
      {% endfor %}    
    </tbody>
  </table>
  -->
</div>
{% endblock %}





