{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h4 class="inline-block">
    <a class="link" href=/browse/{{repo_base}}>{{repo_base}}</a>
    / {{repo}} /
  </h4>

  <hr />
  <br />


  <div class="row">
  <div class="form-group col-sm-10">
    <input type="text" class="form-control" name="q" id="input-query" placeholder="Type SQL here">
  </div>
  
  <div class="col-sm-2">
    <button class="btn btn-primary btn-xsm" id="btn-run-query" type="button">Run</button>
  </div>
  
  </div>

  <br />

  <div id="table_div"></div>
  <div id="viz_div"></div>


<script type="text/javascript">
$(document).ready(function($) {
  var login = '{{login}}'
  var transport = new Thrift.Transport(window.location.protocol + '//' + window.location.host + '/service/json');
  var protocol = new Thrift.Protocol(transport);
  var client = new DataHubClient(protocol);
  var con = new Connection({'user': login, 'repo_base': login});

  var data_table;

  var run_query = function(){
  	var results_arr = []
  	res = client.execute_sql(con, $("#input-query").val());
  	results_arr.push(res.field_names)
  	$.each(res.tuples, function(tuple_idx, tuple) {
      results_arr.push(tuple.cells)
    });
    
    data_table = google.visualization.arrayToDataTable(results_arr);
    var table = new google.visualization.Table(document.getElementById('table_div'));
    table.draw(data_table);
  }

  $("#btn-run-query").click(run_query);

  $("#input-query").on("keypress", function(e) {
     if (e.which == 13) {
        run_query();
     }
  });

});
</script>
{% endblock %}

