sudo: true
# thrift-compiler is only available for trusty, not precise
# Once Travis containers run trusty, or we no longer need thrift-compiler, we can drop sudo: true.
dist: trusty
language: python
python: "2.7"

addons:
  postgresql: "9.4"
  apt:
    packages:
      - thrift-compiler

before_install:
  - sudo mkdir /user_data
  - sudo chmod -R 777 /user_data/

install:
  - source src/setup.sh
  - pip install -r requirements.txt
  - python src/scripts/generate_secret_key.py
  - cd src


before_script:
  - psql -c "create database datahub;" -U postgres

script: 
  - python manage.py test inventory  # tests models
  - python manage.py test www        # tests home page
  - python manage.py test account    # tests account management views
  - python manage.py test browser    # tests datahub core views
  - python manage.py test core       # tests datahub core database access
  # a DB problem requires the Functional Tests to be run seperately
  # - python manage.py test functional_tests.test_login_auth
  # - python manage.py test functional_tests.test_layout_and_styling