<p>Shift-click columns for multi-sort.</p>
<button class="btn btn-primary dt-new-filter">New Filter</button>
<label class="btn btn-primary">
  <input class="dt-invert-filter" type="checkbox" autocomplete="off"> Invert Filter
</label>

