<button class="btn btn-primary dt-new-filter">New Filter</button>
<label class="btn btn-primary">
  <input class="dt-invert-filter" type="checkbox" autocomplete="off"> Invert Filter
</label>
<div class="btn-group">
  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"  data-placeholder="Please select">Hide Columns <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><input type="checkbox" id="ID"><label for="ID" name="NAME" value="VALUE">Label</label></li>
      <!-- Other items -->
    </ul>
</div>
