<div class="btn-group dropup">
  <button type="button" class="dt-agg-button btn btn-primary dropdown-toggle dropup" data-toggle="dropdown" aria-expanded="false">
    <span class="dt-agg-type">Aggregate... </span><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a class="dt-agg-item" data-agg-type="count">Count</a></li>
    <li><a class="dt-agg-item" data-agg-type="sum">Sum</a></li>
    <li><a class="dt-agg-item" data-agg-type="avg">Average</a></li>
    <li><a class="dt-agg-item" data-agg-type="min">Min</a></li>
    <li><a class="dt-agg-item" data-agg-type="max">Max</a></li>
  </ul>
</div>
<div class="btn-group dropup dt-col-agg-div" style="visibility:hidden">
  <button type="button" class="dt-col-agg-button btn btn-primary dropdown-toggle dropup" data-toggle="dropdown" aria-expanded="false">
    <span class="dt-col-agg-name">Column Name... </span><span class="caret"></span>
  </button>
  <ul class="dropdown-menu dt-col-agg-list" role="menu">
  </ul>
</div>
<span class="dt-agg-result " style="visibility:hidden">123</span>
