{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">

	function load_table (table) {
		window.location.href = "/browse/{{username}}/{{repo}}/" + table;
	}

	$(document).ready(function(){
		var tables = $('#tables').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"bInfo": false,
			"sWidth": "100%"			
		});
		$('.dataTables_filter input').attr("placeholder", "filter by keyword tokens");
	});
</script>


<div id="content">
	<a class="blue bold" href=/browse/{{username}}>{{username}}</a> . <a class = "blue bold" href=/browse/{{username}}/{{repo}}>{{repo}}</a>
	<br />
	<br />
	<div>
	<a class="button inactive" href="/newtable/{{username}}/{{repo}}">Create Table (File Upload)</a> &nbsp; &nbsp; &nbsp; &nbsp; <a class="button inactive" href="/console">Create Table (Console)</a> &nbsp; &nbsp; &nbsp; &nbsp; <a class="button inactive" href="/refiner">Transform/Refine Data</a>
	</div>
	<br />
	<table id="tables">
		<thead>
		<tr>
			<th>All Tables</th>
		</tr>
		</thead>
		<tbody>
		{% for table in tables %}
		<tr>
			<td class="blue link" onclick='load_table("{{table}}")'>{{table}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}





