/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/

/* Logo */

#logo{
  color: #000;
  font-family: 'Cantora One', cursive;
  font-weight: 400;
  font-size: 2em;
}

@font-face {
  font-family: 'Cantora One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantora One'), local('CantoraOne-Regular'), url(/static/fonts/cantoraone.woff) format('woff');
}


/* Sign In/Sign Up/Password Reset Forms */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#page{
	position: relative;
	margin:0 auto;
	top: 6em;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}

textarea {
  resize: none;
}

.error{
  color: red;	
}

/* DataHub Console */

#dh-console-container {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
}

#dh-console {
  margin: 0 auto;
  width: 850px;
  color: #E9E581;
  background-color: #000;
  border-radius: 0.5em;
  height: 40em;
  overflow-y: scroll !important;
  box-shadow: 0px 5px 20px #333;
}

#dh-console pre {
  background-color: #000;
  border: none;
}

#welcome {
  margin:0 auto;
  background-color:#000;
  border-radius: 1.5em;
  color: #FFF;
  padding:3em;
  padding-bottom: 4em;
  text-align:center;
  box-shadow: 0px 5px 5px #eee;
}


/* Icons */

.newrepo-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/newrepo.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.csv-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/csv.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.open-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/open.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.download-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/download.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.delete-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/delete.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.database-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/database.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.table-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/table.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.database-table-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/database-table.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.console-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/terminal.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.visualize-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/visualize.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

.logout-icon{
  display: inline-block;
  margin-right: 0.7em;
  background-image:url(/static/images/logout.png);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  border-radius: 0.25em;
  width: 1.2em;
  height: 1.2em;
}

