/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/

body {
  padding-bottom: 60px;
}

/* Logo */

#logo{
  color: #000;
  font-family: 'Cantora One', cursive;
  font-weight: 400;
  font-size: 2em;
}

@font-face {
  font-family: 'Cantora One';
  font-style: normal;
  font-weight: 400;
  src: local('Cantora One'), local('CantoraOne-Regular'), url(/static/fonts/cantoraone.woff) format('woff');
}


/* Home Page */

.bs-docs-masthead {
    position: relative;
    padding: 100px 30px 15px;
    margin-top: -20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
    background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x
}

.logo-home{
  display: block;
  background-image:url(/static/images/livinglab-logo.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}

.logo-text {
  font-family: 'Cantora One', cursive;
  font-weight: 400;
  font-size: 44px;
}

.logo-text .logo-first-half {
    color: #00aeef;
}

.bs-docs-masthead .lead {
    margin: 0 auto 30px;
    font-size: 20px;
    color: #fff
}

@media (min-width:992px) {
    .bs-docs-masthead .lead {
        width: 80%;
        font-size: 30px
    }
}

@media (min-width:768px) {
    .bs-docs-masthead {
        padding: 80px 0
    }

/* Sign In/Sign Up/Password Reset Forms */

.push {
  height: 80px;
  min-height: 80px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin button[type="submit"] {
  margin-top: 10px;
}

.oidc-buttons .btn {
  width: 148px;
}

.btn.oidc-mit, .btn.oidc-mit:hover {
  border-color: #8a8b8c;
  background: #8a8b8c;
  color: white;
}

.btn.oidc-google, .btn.oidc-google:hover {
  border-color: #dc4e41;
  background: #dc4e41;
  color: white;
}

.signup-or hr {
  margin-top: 0px;
  margin-bottom: 10px;
  border-color: #ddd;
}

.signup-or .or-text {
  margin-top: -10px;
  text-align:center;
  line-height: 16px;
  color:#aaa;
}

.debug-block {
  color:#aaa;
}

/* Query forms */

.sql-form .form-group {
  display: flex;
  flex-direction: flex-row;
}

#btn-dataq {
  margin-right: 10px;
}

#btn-run {
  margin-left: 10px;
}

#txt-sql {
  flex: 1;
}


/* GLOBAL */

#page{
	position: relative;
	margin:0 auto;
  margin-top: 70px;
}

textarea {
  resize: none;
}

.error{
  color: red;
}

.cell-left {
  vertical-align: top;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.cell-right {
  vertical-align: top;
  padding-left:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

p.bg-warning {
  padding: 10px;
}

.inline-block {
    margin: 0;
    display:inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.table-responsive {
  overflow: auto;
}

.modal-link {
  cursor: pointer;
}

.table thead tr th {
    background-color: #f9f9f9;
    color: #000;
}

/* DataHub Console */

#dh-console-container {
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
}

#dh-console {
  margin: 0 auto;
  height: 40em;
  color: #E9E581;
  background-color: #000;
  border-radius: 0.5em;
  overflow-y: scroll !important;
  box-shadow: 0px 5px 20px #333;
}

.ascii-art-home {
  color: #E9E581;
  background-color: #000;
  border: none;
}

.ascii-art-console {
  color: #666;
  background-color: #000;
  border: none;
}

#welcome {
  margin:0 auto;
  background-color:#000;
  border-radius: 1.5em;
  color: #FFF;
  padding:3em;
  padding-bottom: 4em;
  text-align:center;
  box-shadow: 0px 5px 5px #eee;
}

#dh-console .punch, #welcome .punch {
  color: #999;
}

/* Icons */
.newrepo-icon{
  display: inline-block;
  background-image:url(/static/images/newrepo.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.csv-icon{
  display: inline-block;
  background-image:url(/static/images/csv.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.open-icon{
  display: inline-block;
  background-image:url(/static/images/open.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.download-icon{
  display: inline-block;
  background-image:url(/static/images/download.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.delete-icon{
  display: inline-block;
  background-image:url(/static/images/delete.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.database-icon{
  display: inline-block;
  background-image:url(/static/images/database.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.table-icon{
  display: inline-block;
  background-image:url(/static/images/table.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.database-table-icon{
  display: inline-block;
  background-image:url(/static/images/database-table.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.console-icon{
  display: inline-block;
  background-image:url(/static/images/terminal.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  width: 17px;
  height: 17px;
}

.visualize-icon{
  display: inline-block;
  background-image:url(/static/images/visualize.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

.logout-icon{
  display: inline-block;
  background-image:url(/static/images/logout.png);
  background-repeat: no-repeat;
  background-size: 17px 17px;
  border-radius: 0.25em;
  width: 17px;
  height: 17px;
}

body {
  padding-top: 5em;
}

.bs-docs-sidebar .nav>li>a {
  color: #767676;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  cursor: inherit;
}