{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% load backend_details %}
{% load string_utils %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
  $('#confirmModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var title = button.data('modal-title')
    var body = button.data('modal-body')
    var action = button.data('form-action')
    var modal = $(this)
    modal.find('.modal-title').text(title)
    modal.find('.modal-body').html(body)
    modal.find('.modal-footer form').attr('action', action)
  })
  $('#confirmModal').on('hide.bs.modal', function (argument) {
    var modal = $(this)
    modal.find('.modal-footer form').attr('action', '')
  })
})
</script>  
{% endblock js %}

{% block content %}
<div class="container">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h3>Settings</h3>
  <br />

  <form role="form" method="POST" action="{% url 'settings' %}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
      </div>
      <div class="panel-body">
        {% csrf_token %}
        <input type="hidden" name="change_email" />
        <label for="username">Username</label><br />
        <input type="text" class="form-control" name="username" id="username" placeholder="Pick a username" disabled value="{{user.username}}"/><br />
        {{ email_form|crispy }}
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Password</h3>
    </div>
    <ul class="list-group">
    {% if user.has_usable_password %}
      <li class="list-group-item">
        <p>Password set.</p>
        <a href="{% url 'password_change' %}">Change Password</a>
      </li>
      {% if backends.associated.count > 0 %}
        <li class="list-group-item">
        <p>Remove your password to limit access to the external logins below.</p>
        <a href="#" role="button" data-toggle="modal" data-target="#confirmModal" data-modal-title="Remove Password" data-modal-body="<p>Are you sure you want to remove name and password as a login method for DataHub user {{ user.username }}?</p><p>You will still be able to log in with {{ backends.associated|mapattr:"provider"|provider_names|joinand }}.</p>" data-form-action="{% url 'remove_password' %}">Remove Password</a>
        </li>
      {% endif %}
    {% else %}
      <li class="list-group-item">
        No password set. The external logins below are the only way to log into this account.
      </li>
    {% endif %}
    </ul>
    {% if not user.has_usable_password %}
      <div class="panel-body">
        <a href="{% url 'add_password' %}">Add Password</a>
      </div>
    {% endif %}

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Associated external logins</h3>
    </div>
    <ul class="list-group">
    {% for assoc in backends.associated %}
      <li class="list-group-item">
        <button class="btn btn-link pull-right" data-toggle="modal" data-target="#confirmModal" data-modal-title="Remove Login" data-modal-body="<p>Are you sure you want to remove {{ assoc.provider|provider_name }} identity {{ assoc.uid }} as a login method for DataHub user {{ user.username }}?</p>" data-form-action="{% url 'social:disconnect_individual' assoc.provider assoc.id %}">Remove</button>
        <div>
          <i class="fa {{ assoc.provider|provider_icon }} fa-lg fa-fw"></i>&nbsp; {{ assoc.provider|provider_name }}
          <br />
          {{ assoc.uid }}
        </div>
      </li>
    {% empty %}
      <li class="list-group-item">No associated social logins.</li>
    {% endfor %}
    </ul>
    <div class="panel-body">
      <a href="{% url 'add_extra_login' %}">Add logins</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Authorized Apps</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{% url 'oauth2_provider:authorized-token-list' %}">Manage active tokens</a>
      </li>
    </ul>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Delete Account</h3>
    </div>
    <div class="panel-body">
      <p>Deleting your account will delete everything owned by your DataHub user. Collaborators will not retain access to your data. Once deleted, data cannot be recovered.</p>
      <button class="btn btn-danger" id="id_delete_acct_button" data-toggle="modal" data-target="#confirmModal" data-modal-title="Delete Account" data-modal-body="<p>Are you sure you want to delete the account for DataHub user {{ user.username }}?</p><p>This action cannot be undone.</p>" data-form-action="{% url 'delete_user' %}">Delete your account</button>
    </div>
  </div>
</div>
</div>
<div id="confirmModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Placeholder title</h4>
      </div>
      <div class="modal-body">
        Placeholder body
      </div>
      <div class="modal-footer">
        <form method="post" action="" style="margin-bottom:0">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'settings' %}" />
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" id="id_delete_confirm_button" class="btn btn-primary btn-danger">Remove</button>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}
