{% extends "minimal-layout.html" %}
{% block headlink-right %}
<a href="/account/login" title="Sign In" class="btn btn-default navbar-btn">Sign In</a>
{% endblock %}
{% block content %}
<div class="container">
<form class="form-signin" method="POST" action="/account/forgot">
  {% csrf_token %}
  <input type="hidden" class="form-control" name="redirect_url" value="{{redirect_url}}" />
  <h3>DataHub Reset Password</h3>
  <div id="error">
    {% for error in errors %}
      <span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
    {% endfor %}
  </div>
  <br />
  <label for="email">Your email address</label><br />
  <input type="text" class="form-control" name="email" id="email" placeholder="Your email" {% if values.email %}value="{{values.email}}"{% endif %}/> <br />
  <button type="submit" class="btn btn-lg btn-primary btn-block">Send Reset Link</button>
</form>
</div>
{% endblock %}