<html>
<!-- minimal-layout is similar to base.html, but does not have navbar links on the right -->

<head>
<title>DataHub</title>
<meta charset="utf-8">

<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="initial-scale=1.0 user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="Description" content="DataHub is a (GitHub-Like) Data Ecosystem for Individuals, Teams and People. It provides an efficient platform and easy to use tools/interfaces for publishing of your own data (hosting, sharing, collaboration), using other’s data (querying, linking), and making sense of data (analysis, visualization)" />



<!-- jQuery + Bootstrap -->
<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- /jQuery + bootstrap -->

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- /Font Awesome -->
<link rel="stylesheet" type="text/css" href="/static/css/datahub.css" />
{% block stylesheets %} {% endblock stylesheets %}
{% block js %} {% endblock js %}
{% block extra_head %} {% endblock extra_head %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" id="logo" href="/">DataHub</a>
  </div>

  <div class="navbar-collapse collapse">
    <div class="navbar-right">
    </div>
  </div>
  </div>
</header>

<body>

<div class="push"></div>

{% block content %}
{% endblock content %}
{% load staticfiles %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54650835-2', 'auto');
  ga('send', 'pageview');

</script>

<div class="push"></div>
<div class="container">
  <div class="navbar navbar-default navbar-static-bottom text-center">
  <div class="navbar-footer">
    <a href="/www/" class="btn navbar-btn">About</a> &nbsp; &nbsp;
    <a href="{% static 'docs/html/index.html' %}" class="btn navbar-btn">Documentation</a> &nbsp; &nbsp;
    <a href="https://github.com/datahuborg/datahub" class="btn navbar-btn">GitHub Repo</a> &nbsp; &nbsp;
    <a href="{% url 'django.swagger.base.view' %}" class="btn navbar-btn">API</a>
  </div>
  </div>
</div>

</body>
</html>