{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

{% if validlink %}
<form class="col-xs-12 col-sm-6 col-sm-offset-3" role="form" method="POST" action="">
  {% csrf_token %}
  <h3>Reset Password</h3>
  <br />
  {{ form|crispy }}
  <button class="btn btn-lg btn-primary btn-block" id="id_password_reset_confirm_action" type="submit">Save Password</button>
</form>

{% else %}

<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h3>Reset Password</h3>
  <br />
  <p>This password reset link is invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request a new link</a>.</p>
</div>
{% endif %}

</div>
{% endblock content %}
