{% extends "minimal-layout.html" %}

{% load crispy_forms_tags %}

{% block headlink-right %}
<a href="{% url 'login' %}" title="Sign In" id="id_sign_in" class="btn navbar-btn btn-primary">Sign In</a>
<a href="{% url 'register' %}" title="Sign Up" id="id_sign_up" class="btn navbar-btn btn-success">Sign Up</a>
{% endblock %}
{% block content %}
<div class="container">
<form class="col-xs-12 col-sm-6 col-sm-offset-3" role="form" method="POST" action="{% url 'password_reset' %}">
  {% csrf_token %}
  <h3>Reset Password</h3>
  <br />
  {{ form|crispy }}
  <button class="btn btn-lg btn-primary btn-block" id="id_reset_action" type="submit">Send Reset Link</button>
</form>
</div>
{% endblock %}
