{% extends "minimal-layout.html" %}

{% block headlink-right %}
<a href="{% url 'login' %}" title="Sign In" id="id_sign_in" class="btn navbar-btn btn-primary">Sign In</a>
<a href="{% url 'register' %}" title="Sign Up" id="id_sign_up" class="btn navbar-btn btn-success">Sign Up</a>
{% endblock %}
{% block content %}
<div class="container">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h3>Reset Password</h3>
  <br />
  <p>Your password has been changed. Please continue to <a href="{% url 'login' %}">log in</a>.</p>
</div>
</div>
{% endblock %}
