{% extends "minimal-layout.html" %}

{% load crispy_forms_tags %}
{% load backend_details %}
{% load string_utils %}

{% block content %}
<div class="container">
<form class="col-xs-12 col-sm-6 col-sm-offset-3" role="form" method="POST" action="{{ request.path }}">
  {% csrf_token %}
  <h3>Add Password</h3>
  <br />
  {% if is_disconnect %}
    {% with backends.associated|first as assoc %}
      <p>{{ assoc.provider|provider_name }} is the last associated login for DataHub user {{ user.username }}. Please add a password to ensure you can still log in.</p>
    {% endwith %}
      <br />
  {% endif %}
  {{ form|crispy }}
  <button class="btn btn-lg btn-primary btn-block" id="id_reset_action" type="submit">Add Password</button>
</form>
</div>
{% endblock %}
