{% extends "minimal-layout.html" %}
{% block headlink-right %}
  <a href="/account/login" title="Sign In" class="btn btn-primary navbar-btn">Sign In</a>
{% endblock %}
{% block content %}
<div class="container">
<form class="form-signin" method="POST" action="/account/register" autocomplete="off">
  {% csrf_token %}
  <input type="hidden" class="form-control" name="redirect_url" value="{{redirect_url}}" />
  <h3>Create a new account</h3>
  <div id="error">
    {% for error in errors %}
      <span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
    {% endfor %}
  </div>
  <br />
  <label for="username">Username</label><br />
  <input type="text" class="form-control" name="username" id="username" placeholder="Pick a username" {% if values.username %}value="{{values.username}}"{% endif %}/><br />
  <label for="email">Email Address</label><br />
  <input type="text" class="form-control" name="email" id="email" placeholder="Your email address" {% if values.email %}value="{{values.email}}"{% endif %}/><br />
  <label for="password">Password</label><br />
  <input type="password" class="form-control" name="password" id="password" placeholder="Create a password" {% if values.password %}value="{{values.password}}"{% endif %}/><br />
  <button type="submit" class="btn btn-lg btn-success btn-block">Sign Up for DataHub</button>
  <br />
</form>
</div>
{% endblock %}
