{% extends "minimal-layout.html" %}

{% load crispy_forms_tags %}

{% block headlink-right %}
  <a href="/account/register" title="Sign Up" class="btn btn-success navbar-btn">Sign Up</a>
{% endblock %}

{% block content %}

<div class="container-fluid" style="max-width: 768px;">

<form class="col-xs-12 col-sm-6 col-sm-offset-3" role="form" method="POST" action="{{ action }}">

{% if user.is_authenticated %}
<p>You already have a username.</p>
{% else %}
<h3>Create a new account</h3>
<br/>
{% endif %}

{% csrf_token %}

<p>Authenticated as {{ social.name }} user {{ social.username }}.</p>


{{ form|crispy }}
{# {{ form.as_ul }} #}

<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
<input type="hidden" name="next" value="{{ next }}" />

</form>

</div>
{% endblock %}
