{% extends "layout.html" %}
{% block headlink-right %}
{% if login %}
 <a href="/" class="blue bold navitem" data-dropdown="#dropdown-nav">{{ login }} ▾ </a>
{% else %}
<a class="button" href="/register">Sign up</a>&nbsp;&nbsp;<a class="button inactive" href="/login">Sign in</a>
{% endif %}			
{% endblock %}

{% block content %}
<div id="content">
<div id="dh-console-container">
<div id="dh-console">
<pre>
 _____        _        _    _       _     
|  __ \      | |      | |  | |     | |    
| |  | | __ _| |_ __ _| |__| |_   _| |__  
| |  | |/ _` | __/ _` |  __  | | | | '_ \ 
| |__| | (_| | || (_| | |  | | |_| | |_) |
|_____/ \__,_|\__\__,_|_|  |_|\__,_|_.__/ 
</pre> 
<br /><br />
<div class="punch">DataHub is a (GitHub like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.
</div>
<br />
</div>
</div>
</div>
	
<script type="text/javascript">

if (typeof String.prototype.startsWith != 'function') {
  // see below for better implementation!
  String.prototype.startsWith = function (str){
    return this.indexOf(str) == 0;
  };
}

function print_result (res, term) {
	if (res.row_count >= 0) {
		var col_names = []
		var separator = []
		for (var field in res.data.schema.fields) {
			col_names.push(res.data.schema.fields[field].name)
			separator.push('------------')
		}	     
	    term.echo(col_names.join('\t'))
		term.echo(separator.join(''))
	    for (var row in res.data.table.rows) {
			values = []
			for (var c in res.data.table.rows[row].cells) {
				values.push(res.data.table.rows[row].cells[c].value)
			}
	       	term.echo(values.join('\t'))
		}
	    term.echo('')
	  	term.echo(res.row_count + ' rows returned')
	} else {
	      if (res.status) {
			  term.echo('success')
		  } else {
		  	term.echo('error')
		  }
	}
}

$(document).ready(function($) {
	var login = '{{login}}'
	var transport = new Thrift.Transport("http://datahub-experimental.csail.mit.edu/api");
	var protocol = new Thrift.Protocol(transport);
	var client = new DataHubClient(protocol);
	var con = new DHConnection({'user':login})
	$('#dh-console').terminal(
		function(command, term) {
			var cmd = $.trim(command.toLowerCase())
	    if (cmd.startsWith('mkrepo')) {
			var args = cmd.split(' ', 2)
			if (args.length > 1) {
	    		res = client.execute_sql(con, 'CREATE SCHEMA ' + args[1])
				print_result(res, term)
			} else {
				term.echo ('HELP: mkrepo &lt;repo-name&gt;')
			}      
	    } else if (cmd.startsWith('rm')) {
			var args = cmd.split(' ', 2)
	    	res = client.execute_sql(con, 'DROP SCHEMA ' + args[1])
			print_result(res, term)   
	    } else if (cmd.startsWith('ls')) {
			var args = cmd.split(' ', 2)
			res = null
			if (args.length > 1)
				res = client.list_tables(con, args[1])
			else
	    		res = client.list_repos(con)
			print_result(res, term)    
	    } else {
	    	res = client.execute_sql(con, cmd);
	      	print_result(res, term) 
	    }
		}, { 
			prompt: 'datahub> ',
			greetings: 'Welcome to DataHub!'}
	);
  
});

</script>
{% endblock %}


