{% extends "layout.html" %}
{% block headlink-right %}
{% if login %}
 <a href="/" class="blue bold navitem" data-dropdown="#dropdown-nav">{{ login }} ▾ </a>
{% else %}
<a class="button" href="/register">Sign up</a>&nbsp;&nbsp;<a class="button inactive" href="/login">Sign in</a>
{% endif %}			
{% endblock %}

{% block content %}
<div id="content">
<div id="dh-console-container">
<div id="dh-console">
<pre>
 _____        _        _    _       _     
|  __ \      | |      | |  | |     | |    
| |  | | __ _| |_ __ _| |__| |_   _| |__  
| |  | |/ _` | __/ _` |  __  | | | | '_ \ 
| |__| | (_| | || (_| | |  | | |_| | |_) |
|_____/ \__,_|\__\__,_|_|  |_|\__,_|_.__/ 
</pre> 
<br /><br />
<div class="punch">DataHub is a (GitHub like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.
</div>
<br />
</div>
</div>
</div>
	
<script type="text/javascript">

$(document).ready(function($) {
	$('#dh-console').terminal(
		function(command, term) {
	    if (command == 'help') {
	        term.echo("coming soon...");
	    } else {
	        term.echo('coming soon...');
	    }
		}, { 
			prompt: 'datahub> ',
			greetings: 'Welcome to DataHub!'}
	);
  
});

</script>
{% endblock %}


