{% extends "login-layout.html" %}
{% block headlink-right %}
<a class="button" href="/login">Sign in</a>&nbsp;&nbsp;<a class="button inactive" href="/register">Sign up</a>	
{% endblock %}
{% block content %}
<script type="text/javascript">
</script>
<form method="POST" action="/forgot">
	{% csrf_token %}
	<input type="hidden" name="redirect_url" value="{{redirect_url}}" />
	<h3>DataHub Reset Password</h3>
	<hr />
	<div id="error">
		{% for error in errors %}<span class="error">{% autoescape off %}{{error}}{% endautoescape %}</span><br />
        {% endfor %}
        <br />
    </div>
	<label for="email">Enter the email address</label><br />
	<input type="text" name="email" id="email" placeholder="Your email" {% if values.email %}value="{{values.email}}"{% endif %}/> <br />
	<input type="submit" class="button" value="Send Reset Link" />
</form>
{% endblock %}