<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

DataHub Home
-->

<html>

<head>
<title>DataHub</title>
<meta charset="utf-8">

<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="initial-scale=1.0 user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<link rel="stylesheet" type="text/css" href="/static/css/datahub.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery.terminal.css" />

<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/jquery.mousewheel-min.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/jquery.terminal-min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style>



#dh-console-container {
	margin: 0 auto;
	padding-top: 5em;
	padding-bottom: 5em;
	position: relative;
}

#dh-console {
	margin: 0 auto;
	width: 600px;
	color: #E9E581;
	background-color: #000;
	border-radius: 0.5em;
	height: 30em;
	overflow-y: scroll !important;
}

#sign-up {
	clear: both;
	margin: 0 auto;
	display: inline-block;
}
		
</style>

</head>

<body>
	<div
	<div id="header">
		<div id="wrap">
			<span id="headlink-left">
				<a id="logo" href="/">DataHub</a>
			</span>
			<span id="headlink-right">
				<a class="button" href="/register">Sign up for DataHub</a>
			</span>
		</div>
	</div>
	<div id="page">
		<div id="dh-console-container">
			<div id="dh-console">
			<pre>
 _____        _        _    _       _     
|  __ \      | |      | |  | |     | |    
| |  | | __ _| |_ __ _| |__| |_   _| |__  
| |  | |/ _` | __/ _` |  __  | | | | '_ \ 
| |__| | (_| | || (_| | |  | | |_| | |_) |
|_____/ \__,_|\__\__,_|_|  |_|\__,_|_.__/ 
      </pre> <br /><br />
			<div class="punch">DataHub is a (GitHub like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.
			</div>
			<br />
			</div>
			
		</div>
		
		
		
	
	</div>
	
	<script type="text/javascript">
	
	$(document).ready(function($) {
		$('#dh-console').terminal(
			function(command, term) {
		    if (command == 'help') {
		        term.echo("coming soon...");
		    } else {
		        term.echo('coming soon...');
		    }
			}, { 
				prompt: 'datahub> ',
				greetings: 'Welcome to DataHub!'}
		);
    
	});

	</script>


</body>
</html>



