{% extends "layout.html" %}
{% block headlink-right %}
{% if login %}
 <a href="/" class="blue bold navitem" data-dropdown="#dropdown-nav">{{ login }} ▾ </a>
{% else %}
<a class="button inactive" href="/login">Sign in</a>
{% endif %}			
{% endblock %}

{% block content %}
<style>
body, #content {
	background-color: #FFF;
}
</style>
<div id="content">
<div id="welcome">
<pre style="color: #E9E581;">
 _____        _        _    _       _     
|  __ \      | |      | |  | |     | |    
| |  | | __ _| |_ __ _| |__| |_   _| |__  
| |  | |/ _` | __/ _` |  __  | | | | '_ \ 
| |__| | (_| | || (_| | |  | | |_| | |_) |
|_____/ \__,_|\__\__,_|_|  |_|\__,_|_.__/ 
</pre> 
<br /><br />
<div class="punch">DataHub is a (GitHub like) hosted platform for organizing, managing, sharing, collaborating, and making sense of data.
</div>
<br />
<br />
<a class="button" href="/register">Sign up for DataHub</a>
</div>
</div>
{% endblock %}


