<!DOCTYPE HTML>
<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

DataHub Template Layout
-->
{% block html %}
<html>
{% endblock %}
<head>
<title>DataHub</title>
<meta charset="utf-8">

<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="initial-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="stylesheet" type="text/css" href="/static/css/datahub.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/css/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-dropdown/css/jquery.dropdown.css"/>
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-terminal/css/jquery.terminal.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-datatables/css/jquery.dataTables.css" />

<script type="text/javascript" src="/static/lib/jquery/jquery.min.js"></script>	
<script type="text/javascript" src="/static/lib/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/static/lib/jquery-datatables/jquery.dataTables.min.js"></script>	
<script type="text/javascript" src="/static/lib/jquery-datatables/jquery.jeditable.js"></script>	
<script type="text/javascript" src="/static/lib/jquery-dropdown/jquery.dropdown.js"></script>
<script type="text/javascript" src="/static/lib/jquery-mousewheel/jquery.mousewheel-min.js"></script>
<script type="text/javascript" src="/static/lib/jquery-terminal/jquery.terminal-min.js"></script>

<script type="text/javascript" src="/static/lib/thrift/thrift.js"></script>
<script type="text/javascript" src="/static/lib/thrift/thrift-binary.js"></script>
<script type="text/javascript" src="/static/lib/datahub/datahub_types.js"></script>
<script type="text/javascript" src="/static/lib/datahub/DataHub.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div id="dropdown-nav" class="dropdown-menu has-tip">
	    <ul>
	        <li><a href="/">Home</a></li>
	        <li class="divider"></li>
	        <li><a href="/logout">Log out</a></li>
	    </ul>
	</div>
<div id="header">
	<div id="wrap">  
		<span id="headlink-left">
			<a id="logo" href="/">DataHub</a>
		</span>    
		<span id="headlink-right">
    {% block headlink-right %}
	
	  {% if login %}
	   <a href="/" class="blue bold navitem">{{ login }}</a> &nbsp; &nbsp;
	   <a class="newrepo-icon" href="/newrepo" title="New Repository"></a>
	   <a class="console-icon" href="/console" title="DataHub Console"></a>
	   <a class="visualize-icon" href="/visualize" title="Visualize"></a>
	   <a class="logout-icon" href="/logout" title="Log out"></a>
	  {% else %}
	  <a class="button" href="/login">Log In</a>
	  {% endif %}			
    {% endblock %}
		</span>
	</div>
</div>

<div id="page">
<div id="content">
{% block content %}
{% endblock %}
{% block credits %}
{% endblock %}



{% block javascript %}
{% endblock %}
</body>
</html>
