<!DOCTYPE HTML>
<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

DataHub Template Layout
-->
{% block html %}
<html>
{% endblock %}
<head>
<title>DataHub</title>
<meta charset="utf-8">

<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="initial-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="stylesheet" type="text/css" href="/static/css/datahub.css" />
<link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery.dropdown.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/third-party/jquery.terminal.css" />

<script type="text/javascript" src="/static/javascript/third-party/jquery.min.js"></script>	
<script type="text/javascript" src="/static/javascript/third-party/jquery-ui.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/jquery.dataTables.min.js"></script>	
<script type="text/javascript" src="/static/javascript/third-party/jquery.dropdown.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/jquery.mousewheel-min.js"></script>
<script type="text/javascript" src="/static/javascript/third-party/jquery.terminal-min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div id="dropdown-nav" class="dropdown-menu has-tip">
	    <ul>
	        <li><a href="/">Home</a></li>
			<li><a href="/console">Console</a></li>
	        <li class="divider"></li>
	        <li><a href="/logout">Log out</a></li>
	    </ul>
	</div>
<div id="header">
	<div id="wrap">  
		<span id="headlink-left">
			<a id="logo" href="/">DataHub</a>
		</span>    
		<span id="headlink-right">
      {% block headlink-right %}
	  {% if login %}
	   <a href="/" class="blue bold navitem" data-dropdown="#dropdown-nav">{{ login }} ▾ </a>
	  {% else %}
	  <a class="button" href="/login">Log In</a>
	  {% endif %}			
      {% endblock %}
		</span>
	</div>
</div>

<div id="page">
<div id="content">
{% block content %}
{% endblock %}
{% block credits %}
{% endblock %}



{% block javascript %}
{% endblock %}
</body>
</html>
