{% extends "layout.html" %}
{% block content %}
<div id="content">
	<div id="error">
    </div>
	<table cellspacing=10>
		<tr>
			<td>
				<h4 class="gray">Owner: </h4>
			</td>
			<td style="padding-left:2em;">
				<select>
				  <option class="strong" value="{{login}}">{{login}}</option>				 
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<h4 class="gray">Name of the new repository: </h4>
			</td>
			<td style="padding-left:2em;">
				<input type="text" id="db-name" />
			</td>
		</tr>
		<tr>
			<td>
				<h4 class="gray">Sharing: </h4>
			</td>
			<td style="padding-left:2em;">
				<input type="radio" name="public" value="true" checked> Public <br />
				<input type="radio" name="public" value="false"> Private
			</td>
		</tr>
		<tr>
			<td style="padding-top:2em">
				<button type="button" id="btn-create-repo" style="margin-left:0px;">Create Repository</button>
			</td>
		</tr>
	</table>
	<br />
	<br />
</div>
  
<script type="text/javascript">


$(document).ready(function($) {
  var login = '{{login}}'
  var transport = new Thrift.Transport(window.location.protocol + '//' + window.location.host + '/service');
  var protocol = new Thrift.Protocol(transport);
  var client = new DataHubClient(protocol);
  var con = new DHConnection({'user':login})
 
  var create_repo = function(){
	var db_name = $('#db-name').val();
	res = client.create_repo(con, db_name)
	if (res.status) {
		window.location.href='/'
	}else{
		$('#error').html('<span class="error">Error</span')
	}
  }
  $("#btn-create-repo").click(create_repo);
});


</script>
{% endblock %}


