{% extends "base.html" %}
{% block headlink-right %}
<a class="button" href="/login">Sign In</a>
{% endblock %}
{% block content %}
<form method="POST" action="/register">
	{% csrf_token %}
	<h3>Create a new DataHub account</h3>
	<hr />
	<label for="username">Username</label><br />
	<input type="text" name="username" id="username" /><br /><br />
	<label for="email">Email Address</label><br />
	<input type="text" name="email" id="email" /><br /><br />
	<label for="password">Password</label><br />
	<input type="password" name="password" id="password" /><br /><br />
	<label for="password2">Confirm Password</label><br />
	<input type="password" name="password2" id="password2" /><br /><br />
	<input type="submit" value="Register" />
</form>
{% endblock %}
