{% extends "login-layout.html" %}
{% block links %}
<a class="button" href="/login?redirect_url={{redirect_url}}">Log In</a>
{% endblock %}
{% block content %}
<form method="POST" action="/register" autocomplete="off">
	{% csrf_token %}
	<input type="hidden" name="redirect_url" value="{{redirect_url}}" />
	<h3>Create a new account</h3>
	<hr />
	<div id="error">
		{% for error in errors %}<span class="error">{{error}}</span><br /> 
        {% endfor %}
        <br />
    </div>
	<label for="username">Username</label><br />
	<input type="text" name="username" id="email" placeholder="Pick a username"/><br /><br />
	<label for="email">Email Address</label><br />
	<input type="text" name="email" id="email" placeholder="Your email address"/><br /><br />
	<label for="password">Password</label><br />
	<input type="password" name="password" id="password" placeholder="Create a password"/><br /><br />
	<input type="submit" class="button" value="Sign up for DataHub" />
</form>
{% endblock %}
