{% extends "login-layout.html" %}
{% block links %}
<a class="button" href="/login?redirect_url=/">Log In</a>
{% endblock %}
{% block content %}
<script type="text/javascript">
</script>
<form method="POST" action="/reset/{{encrypted_email}}">
	{% csrf_token %}
	<input type="hidden" name="redirect_url" value="{{redirect_url}}" />
	<h3>Confer Reset Password</h3>
	<hr />
	<div id="error">
		{% for error in errors %}<span class="error">{{error}}</span><br />
        {% endfor %}
        <br />
    </div>
	<input type="hidden" name="user_email" id="user_email" value="{{user_email}}" />
	<label for="new_password">New Password</label><br />
	<input type="password" name="new_password" id="new_password" placeholder="New password"/><br /><br />
	<label for="new_password2">Confirm New Password</label><br />
	<input type="password" name="new_password2" id="new_password2" placeholder="Enter password again"/><br /><br />
	<input type="submit" class="button" value="Reset" />
</form>
{% endblock %}