{% extends "login-layout.html" %}
{% block links %}
<a class="button" href="/">Home</a>
{% endblock %}
{% block content %}
<div class="blurb">
Confer originated from myCHI - our first app developed for CHI 2013. The Confer design and many of its features are borrowed from myCHI. Below is the list of people who contributed to Confer/myCHI. 
</div>
<!-- Confer Team -->
<div id="confer_team_container">
  <h3 class="collapsible-title"> Confer Team</h3>
  <table id="confer_team" class="paper-container"> 
    {% for p in current_team %}
    <tr class="clickable">
      <td class="content">
        <ul>
          <li><h3><a href="{{p.web}}">{{p.name}}</a></h3></li>
          <li><span class="paper-subtype" style="text-align: left !important;">
            {{p.affiliation}}</li>
            </span>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br />
  <br />
  <h3 class="collapsible-title"> myCHI Team</h3>
  <table id="confer_team" class="paper-container"> 
    {% for p in past_collaborators %}
    <tr class="clickable">
      <td class="content">
        <ul>
          <li><h3><a href="{{p.web}}">{{p.name}}</a></h3></li>
          <li><span class="paper-subtype" style="text-align: left !important;">
            {{p.affiliation}}</li>
            </span>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>  <!-- confer team -->
  

{% endblock %}