{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">

	function load_repo (repo) {
		window.location.href = "/browse/{{username}}/" + repo;
	}


	$(document).ready(function(){	

		var repos = $('#repos').dataTable({
			"sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
			"bPaginate": false,
			"bFilter": true,
			"bInfo": false,
			"sWidth": "100%"			
		});
		$('.dataTables_filter input').attr("placeholder", "filter by keyword tokens");

	});
</script>


<div id="content">
	<a class="blue bold" href=/{{username}}>{{username}}</a>
	<br />
	<br />
	<table id="repos">
		<thead>
		<tr>
			<th>All Repositories</th>
		</tr>
		</thead>
		<tbody>
			{% for repo in repos %}
				<tr>
				<td class="blue link" onclick='load_repo("{{repo}}")'>{{repo}}</td>
				</tr>
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endblock %}





