{% extends "layout.html" %} {% block content %}
<div class="container-fluid">
    <div id="dh-console-container">
        <div id="dh-console">
            <pre class="ascii-art-console">
 _____        _        _    _       _     
|  __ \      | |      | |  | |     | |    
| |  | | __ _| |_ __ _| |__| |_   _| |__  
| |  | |/ _` | __/ _` |  __  | | | | '_ \ 
| |__| | (_| | || (_| | |  | | |_| | |_) |
|_____/ \__,_|\__\__,_|_|  |_|\__,_|_.__/ 
</pre>
            <br />
            <br />
            <div class="punch">DataHub is a (GitHub-Like) Data Ecosystem for Individuals, Teams and People.
            </div>
            <br />
        </div>
    </div>
</div>
<script type="text/javascript">
if (typeof String.prototype.startsWith != 'function') {
    // see below for better implementation!
    String.prototype.startsWith = function(str) {
        return this.indexOf(str) == 0;
    };
}


function print_result(res, term) {
    if (res.num_tuples >= 0) {
        var col_names = []
        var separator = []

        $.each(res.field_names, function(field_idx, field) {
            col_names.push(field)
            separator.push('------------')
        });

        term.echo(col_names.join('\t'))
        term.echo(separator.join(''))

        $.each(res.tuples, function(tuple_idx, tuple) {
            values = []
            $.each(tuple.cells, function(cell_idx, cell) {
                values.push(cell)
            });
            term.echo(values.join('\t'))
        });

        term.echo('')
        term.echo(res.num_tuples + ' rows returned.')
        if (res.num_more_tuples && res.num_more_tuples > 0) {
            term.echo(res.num_more_tuples + ' more rows available. Type \'more\' to see more rows.')
        }
    } else {
        if (res.status) {
            term.echo('success')
        } else {
            term.echo('error')
        }
    }
}

function set_console_height() {
    var h = window.innerHeight;
    $("#dh-console").height(h * .8);
    return;
}

var base_url = "https://datahub-local.mit.edu";
var client_id = "09E2h1ikVvDQBrja3EWJIEjKM4xkzx2mIiXp3ZE5";
var redirect_uri = "https://datahub-local.mit.edu/apps/console/";

// Convenience function to build DataHub URL strings
// Expects a path starting with a slash. If a params object is present,
// it encodes and appends that as query parameters.
function buildURL(path, params) {
    query = "";
    if (params !== undefined && Object.keys(params).length > 0) {
        query = "?" + $.param(params)
    }
    return base_url + path + query;
}

// Convenience function to convert a query string into an associative
// array.
function paramsFromQuery(query) {
    params = {};
    parts = query.split("&");
    for (var i = parts.length - 1; i >= 0; i--) {
        pieces = parts[i].split("=");
        params[decodeURIComponent(pieces[0])] = decodeURIComponent(pieces[1].replace(/\+/g, " "));
    }
    return params;
}

// Convenience function to copy a value to localStorage if it exists in
// an associate array.
function saveIfSet(assocArray, key) {
    if (assocArray[key]) {
        console.log("Saving " + key + ": " + assocArray[key]);
        localStorage.setItem(key, assocArray[key]);
    };
}


$(document).ready(function($) {
    

    // Pull the access token from the URL hash if it's available.
    // Overwrite whatever's currently in storage.
    if (window.location.hash.length > 1) {
        params = paramsFromQuery(window.location.hash.substring(1));
        if (params['access_token']) {
            keys = ['access_token', 'scope'];
            for (var i = keys.length - 1; i >= 0; i--) {
                console.log("Trying " + keys[i]);
                saveIfSet(params, keys[i]);
            }
            // Clear the hash after handling the access_token.
            // Just setting window.location.hash = "" leaves a dangling #.
            // history.replaceState("", document.title, window.location.pathname + window.location.search);
        }
        console.log(params);
    }

    // Request authorization button
    if (!localStorage.getItem('access_token')) {
        var params = {
            "response_type": "token",
            "scope": "read write",
            "client_id": client_id,
            "redirect_uri": redirect_uri
        };
        var authorization_url = buildURL("/oauth2/authorize/", params);
        window.location.href = authorization_url;
    };

    $.ajaxSetup({
        beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('access_token'));}
    });

    set_console_height();

    var kCmdList = [
        '** Any SQL Query **',
        'connect &lt;repo-base&gt; \t -- connect to a datahub user',
        'mkrepo &lt;repo-name&gt; \t -- to create a new repository',
        'rm &lt;repo-name [-f]&gt; \t -- to remove a repository',
        'ls \t\t\t\t\t -- to list repositories',
        'ls &lt;repo-name&gt; \t\t -- to list tables in a repository',
        'schema &lt;table-name&gt; \t\t -- to print schema info of a table',
        '&lt;other dml&gt; \t\t -- execute arbitrary dml on a repo.tablename in your currently connected repo-base'
    ]

    var login = '{{login}}'
    var transport = new Thrift.Transport(window.location.protocol + '//' + window.location.host + '/service/json');
    var protocol = new Thrift.Protocol(transport);
    var client = new DataHubClient(protocol);
    var con = new Connection({
        'user': login,
        'repo_base': login
    });

    var connection = {
        'user': login,
        'repo_base': login
    };

    $('#dh-console').terminal(
        function(command, term) {
            try {
                var cmd = $.trim(command.toLowerCase())

                if (cmd == '') {
                    return
                }
                if (cmd.startsWith('connect')) {
                    var args = cmd.split(' ', 2)
                    if (args.length > 1) {

                        // trim blank spaces and semicolons from usernames
                        var username = args[1].trim();
                        if (username.substr(username.length - 1) === ";") {
                            username = username.substring(0, username.length - 1);
                        }

                        con.repo_base = username;
                        term.echo("Connected to: " + con.repo_base);
                    } else {
                        term.error('HELP: connect &lt;repo-base&gt;');
                    }
                } else if (cmd.startsWith('mkrepo')) {
                    var args = cmd.split(' ', 2)
                    if (args.length > 1) {
                        // myData = { "repo": args[1]};
                        // url = "https://datahub-local.mit.edu/api/v1/repos/gyuan";
                        // $.post( url, myData, function( data ) {
                        //     console.log("foo"); // John
                        // }, "json");

                        $.ajax({
                            url: buildURL("/api/v1/repos/" + "gyuan" + "/"),
                            type: 'POST',
                            // beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('access_token'));},
                            dataType: 'json',
                            data: {'repo': args[1]},
                            success: function () {
                                term.echo("success");
                            }
                        })
                        .fail(function(xhr, status, error) {
                            console.log("failed");
                        })
                        .done(function(data, status, xhr) {
                            refreshRepos();
                        });

                        // $.ajax({
                        //     type: "POST",
                        //     url: "http://datahub-local.mit.edu/api/v1/repos/"+connection.repo_base,
                        //     data: {"repo": args[1]}
                            // success: function () {
                            //     term.echo("success");
                            // },
                            // dataType: 'json'
                        // });
                        //res = client.create_repo(con, args[1])
                        //print_result(res, term)
                    } else {
                        term.error('HELP: mkrepo &lt;repo-name&gt;')
                    }
                } else if (cmd.startsWith('rm')) {
                    var args = cmd.split(' ', 3)
                    if (args.length > 1) {
                        $.ajax({
                            url: "/api/v1/repos/" + connection.repo_base + "/" + args[1] + "/",
                            type: 'DELETE',
                            // beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem('access_token'));},
                            dataType: 'json',
                        })
                        // force = false
                        // if (args.length == 3 && args[2] == '-f') {
                        //     force = true
                        // }
                        // res = client.delete_repo(con, args[1], force)
                        // print_result(res, term)
                    } else {
                        term.error('HELP: rm &lt;repo-name&gt; [-f]')
                    }
                } else if (cmd.startsWith('desc')) {
                    var args = cmd.split(' ', 2)
                    if (args.length > 1) {
                        res = client.get_schema(con, args[1])
                        print_result(res, term)
                    } else {
                        term.error('HELP: desc &lt;table-name&gt;')
                    }
                } else if (cmd.startsWith('ls')) {
                    var args = cmd.split(' ', 2)
                    res = null
                    if (args.length > 1) {
                        res = client.list_tables(con, args[1])
                    } else {
                        res = client.list_repos(con)
                        // $.ajax({
                        //   url: '/api/v1/repos/'+connection.repo_base,
                        //   success: function (data) {
                            
                        //         $( "body" )
                        //             .append( "Name: " + data[0].owner ) // John
                        //             .append( "Time: " + data[0].permissions ); //  2pm
                        //   },
                        //   dataType: "json"
                        // });
                    }
                    print_result(res, term)
                } else if (cmd.startsWith('help')) {
                    for (var cmd in kCmdList) {
                        term.echo(kCmdList[cmd])
                    }
                } else {
                    res = client.execute_sql(con, cmd);
                    print_result(res, term);
                }
            } catch (error) {
                term.error(error.message);
            }
        }, {
            prompt: '{{login}}@' + con.repo_base + '> ',
            greetings: 'Welcome to DataHub!\nConnected to: ' + con.repo_base
        }
    );

});
</script>
{% endblock %}
