<!DOCTYPE HTML>
<!--
@author: Anant Bhardwaj
@date: Feb 12, 2012

DataHub Template Layout
-->
{% block html %}
<html>
{% endblock %}
{% load staticfiles %}
<head>
<title>DataHub</title>
<meta charset="utf-8">

<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="initial-scale=1.0 user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="Description" content="DataHub is a (GitHub-Like) Data Ecosystem for Individuals, Teams and People. It provides an efficient platform and easy to use tools/interfaces for publishing of your own data (hosting, sharing, collaboration), using other’s data (querying, linking), and making sense of data (analysis, visualization)" />


<link rel="stylesheet" type="text/css" href="/static/css/datahub.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/css/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-dropdown/css/jquery.dropdown.css"/>
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-terminal/css/jquery.terminal.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-datatables/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/docs.min.css" />

<script type="text/javascript" src="/static/lib/jquery/jquery.min.js"></script>	
<script type="text/javascript" src="/static/lib/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/static/lib/jquery-datatables/jquery.dataTables.min.js"></script>	
<script type="text/javascript" src="/static/lib/jquery-datatables/jquery.jeditable.js"></script>	
<script type="text/javascript" src="/static/lib/jquery-dropdown/jquery.dropdown.js"></script>
<script type="text/javascript" src="/static/lib/jquery-mousewheel/jquery.mousewheel-min.js"></script>
<script type="text/javascript" src="/static/lib/jquery-terminal/jquery.terminal-0.8.8.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/js/docs.min.js"></script>

<script type="text/javascript" src="/static/lib/thrift/thrift.js"></script>
<script type="text/javascript" src="/static/lib/thrift/thrift-binary.js"></script>
<script type="text/javascript" src="/static/lib/datahub/datahub_types.js"></script>
<script type="text/javascript" src="/static/lib/datahub/DataHub.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
{% block body-tag %}
<body>
{% endblock %}

{% block header-tag %}
<header class="navbar navbar-default navbar-fixed-top" role="banner">
{% endblock %}

<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" id="logo" href="/">DataHub</a>
  </div>
  
  <div class="navbar-collapse collapse">
    {% block headlink-right %}
      {% if login %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><strong>{{ login }}</strong></a></li>
          <li><a href="/" title="Sign Out"><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="/logout" title="Sign Out"><span class="glyphicon glyphicon-log-out"></span></a></li>          
        </ul>
      {% else %}
        <div class="nav navbar-nav navbar-right">
          <a href="/login" title="Sign In" class="btn navbar-btn btn-primary">Sign In</a> &nbsp; &nbsp;
          <a href="/register" title="Sign Up" class="btn navbar-btn btn-success">Sign Up</a>
        </div>
      {% endif %}
    {% endblock %}    
  </div>
</div>

</header>

{% block push %}
<div class="push"></div>
{% endblock %}

{% block content %}
{% endblock %}

<!-- Common Modal Dialogs -->
<div
    class="modal" id="confirm-modal" 
    tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">Are you sure?</div>
      <div class="modal-footer">
        <button type="button"
            class="btn btn-primary">OK</button>
        <button type="button"
            class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal hide" id="wait-dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h1>Processing...</h1>
  </div>
  <div class="modal-body">
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  function show_modal(
        modal_id, modal_title, modal_body, modal_operation, target_url) {
    console.log(modal_id, modal_title, modal_body, modal_operation, target_url)
    
    $(modal_id + ' .modal-title').html(modal_title)  
    $(modal_id + ' .modal-body').html(modal_body) 
    $(modal_id + ' .btn-primary').html(modal_operation)
    

    $(modal_id).off('click');
    
    $(modal_id).modal({keyboard: true})
      .on('click', modal_id + ' .btn-primary', function (e) {
          $(modal_id).modal('hide')
          $("#wait-dialog").modal()
          window.location.href = window.location.protocol + '//' + window.location.host + target_url
      });
  }

  $('.modal-confirm-dialog').on('click', function(e){
    var modal_id = $(this).attr('target-modal')
    var modal_title = $(this).attr('target-modal-title')
    var modal_body = $(this).attr('target-modal-body')
    var modal_operation = $(this).attr('target-modal-operation')
    var target_url = $(this).attr('target-url')

    show_modal(modal_id, modal_title, modal_body, modal_operation, target_url)
  });
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-55860060-1', 'auto');
ga('send', 'pageview');
</script>

<div class="push"></div>
<div class="container">
  <div class="navbar navbar-default navbar-static-bottom text-center">
  <div class="navbar-footer">
    <a href="/about" class="btn navbar-btn">About</a> &nbsp; &nbsp;
    <a href="{% static 'docs/html/index.html' %}" class="btn navbar-btn">API Docs</a> &nbsp; &nbsp;
    <a href="https://github.com/abhardwaj/datahub" class="btn navbar-btn">GitHub Repo</a> &nbsp; &nbsp;
    <a href="https://github.com/abhardwaj/datahub/tree/master/src/examples" class="btn navbar-btn">Sample Code</a>
  </div>
  </div>
</div>

</body>
</html>
