<!-- List item in a dropdown. It is used by the sort group list -->
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="dq-modal-dropdown-link" data-item_name="{{item_name}}">{{item_name}}</a></li>
