<div class="modal fade" id="dq-sort-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close dq-sort-modal-quit" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Pick columns to sort by.</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle dq-sort-modal-dropdown-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <span class="dq-modal-sort-dropdown-text">Select Sort Column...</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dq-sort-modal-dropdown" role="menu" aria-labelledby="dropdownMenu1">
          </ul>
        </div>
        <ul class="dq-sort-item-list">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary dq-sort-modal-done-btn" data-dismiss="modal">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
