{% extends "layout.html" %} {% block content %}
<div class="container">
    <div id="crime_training_input" style="display:none">{{ crime_training_input }}</div>
    <div id="crime_training_output" style="display:none">{{ crime_training_output }} </div>
    <div id="crime_test" style="display:none">{{ crime_test }}</div>
    <div id="hadoop_training_input" style="display:none">{{ hadoop_training_input }}</div>
    <div id="hadoop_training_output" style="display:none">{{ hadoop_training_output }}</div>
    <div id="hadoop_test" style="display:none">{{ hadoop_test }}</div>
    <div id="content">
        <h3>Paste data below (or, select an example data)</h3>
        <div style="padding-top:1em; padding-bottom:1em;">
            <h4> Example Data: </h4>
            <select id="select_example">
                <option value="hadoop">Hadoop Log</option>
                <option value="crime">Crime</option>
            </select>
        </div>
        <div id="error"></div>
        <table cellspacing="0" style="width:100%">
            <tr>
                <td style="width:50%">
                    <h4>Example Input</h4>
                </td>
                <td style="width:50%">
                    <h4>Example Output</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea id="training_input" style="width:100%; height:200px;"></textarea>
                </td>
                <td>
                    <textarea id="training_output" style="width:100%; height:200px;"></textarea>
                </td>
            </tr>
        </table>
        <table cellspacing="0" style="width:100%">
            <tr>
                <td style="width:100%">
                    <h4>Data</h4></td>
            </tr>
            <tr>
                <td style="width:100%">
                    <textarea id="test_data" style="width:100%; height:600px;"></textarea>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <button class="btn btn-primary" type="button" id="btn-refine-data" style="margin-left:0px;">Refine</button>
        <br />
        <br />
        <div id="results_container">
            <table cellspacing="0" style="width:100%">
                <tr>
                    <td style="width:100%">
                        <h4>Results</h4></td>
                </tr>
                <tr>
                    <td style="width:100%">
                        <textarea id="results_data" style="width:100%; height:600px;"></textarea>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <h4>Save resuts as DataHub Table</h4>
            <div id="error_results"></div>
            <h5> Table Name </h4></td>
  <input type="text" id="table_name" placeholder="Table Name"><br /><br />
  <button class="btn btn-primary" type="button" id="btn-create-table" style="margin-left:0px;">Create Table</button>
  </div>
  <br />
  <br />
</div>
</div>
  
<script type="text/javascript">

$(document).ready(function($) { 
  $("#results_container").hide()
  var selected = $('#select_example').find(":selected").val()
  var record_separator = '\n'

  $("#training_input").val($('#' + selected + '_training_input').text())
  $("#training_output").val($('#' + selected + '_training_output').text())
  $("#test_data").val($('#' + selected + '_test').text())
  if (selected == 'crime') {
    record_separator = '==========\n'
  } else {
    record_separator = '\n'
  }

  $("#select_example").change(function () {
    selected = $('#select_example').find(":selected").val();
    $("#training_input").val($('#' + selected + '_training_input').text())
    $("#training_output").val($('#' + selected + '_training_output').text())
    $("#test_data").val($('#' + selected + '_test').text())
    if (selected == 'crime') {
      record_separator = '==========\n'
    } else {
      record_separator = '\n'
    }
  })

  


  var refine_data = function(){
    $.ajax({
      type:'POST',
      url:'/apps/refiner/refine-data',
      async: false, 
      cache: false,
      data:{
        'training_input': $("#training_input").val(),
        'training_output': $("#training_output").val(),
        'test_data': $("#test_data").val(),
        'record_separator': record_separator
      }, 
      success: function(res) {
        $("#results_container").show()
        $("#results_data").val(res.output)        
      }
    });
  }

  
  $("#btn-refine-data").click(refine_data);
  //$("#btn-create-table").click(create_table);
});


</script>
{% endblock %}
